<div th:fragment="footerFragment">
  <footer class="footer bg-base-200 text-base-content p-10">
    <aside>
      <p>
        NHN Academy BE-6 2조
        <br />
        2024.06.11 ~
      </p>
    </aside>
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover">Marketing</a>
      <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-title">팀원</h6>
      <a href="https://github.com/Banana-Master" class="link link-hover">김성호</a>
      <a href="https://github.com/Heldennar" class="link link-hover">김창영</a>
      <a href="https://github.com/hubgood98" class="link link-hover">김희준</a>
      <a href="https://github.com/ParkSeolDev" class="link link-hover">박설</a>
      <a href="https://github.com/qmzo553" class="link link-hover">박희준</a>
      <a href="https://github.com/s49e" class="link link-hover">임용범</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </nav>
  </footer>
</div>