<div th:fragment="footerFragment">
  <footer class="footer bg-base-200 text-base-content p-10 pb-20">
    <aside>
      <p>
        NHN Academy BE-6 2조
        <br />
        2024.06.11 ~ 2024.08.02
      </p>
    </aside>
    <nav>
      <h6 class="footer-title">문의하기</h6>
      <a href="/faq" class="link link-hover">자주묻는질문</a>
      <a class="link link-hover">문의내역</a>
      <a class="link link-hover">1:1 문의</a>
    </nav>
    <nav>
      <h6 class="footer-title">팀원</h6>
      <a href="https://github.com/Banana-Master" class="link link-hover">김성호</a>
      <a href="https://github.com/Heldennar" class="link link-hover">김창영</a>
      <a href="https://github.com/hubgood98" class="link link-hover">김희준</a>
      <a href="https://github.com/ParkSeolDev" class="link link-hover">박설</a>
      <a href="https://github.com/qmzo553" class="link link-hover">박희준</a>
      <a href="https://github.com/s49e" class="link link-hover">임용범</a>
    </nav>
    <nav>
      <h6 class="footer-title">API 명세서</h6>
      <a href="http://buzz-book.store:8090/swagger-ui/index.html#/" class="link link-hover">Swagger</a>
    </nav>
  </footer>
</div>