<div th:fragment="navbarFragment">
	<div class="navbar border-none relative">
		<div class="flex-1">
			<a href="/home" class="btn btn-ghost logo text-2xl text-[#81c408] dark:text-[#6ba007]">
				<img src="/static/buzz_bee_icon/apple-touch-icon.png" alt="logo" class="w-[30px]" />
				<span>Buzz Book</span>
			</a>
		</div>
		
		<div class="flex-none md:hidden">
			<button id="hamburger-button" class="btn btn-ghost">
				<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
				</svg>
			</button>
		</div>
		
		<div class="flex-none hidden md:flex">
			<ul class="menu menu-horizontal px-1">
				<li><a href="/product">도서</a></li>
				<li><a href="/cart">장바구니</a></li>
				<li id="mypage-button"><a href="/nonMemberOrder">비회원주문조회</a></li>
				<li id="auth-button"><a href="/login">로그인</a></li>
			</ul>
		</div>
	</div>
	
	<div id="mobile-menu" class="md:hidden hidden fixed top-100 left-0 w-full bg-white dark:bg-gray-800 text-black dark:text-white z-50">
		<ul class="menu menu-vertical px-1">
			<li><a href="/product">도서</a></li>
			<li><a href="/cart">장바구니</a></li>
			<li id="mypage-button-mobile"><a href="/nonMemberOrder">비회원주문조회</a></li>
			<li id="auth-button-mobile"><a href="/login">로그인</a></li>
		</ul>
	</div>
	
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			updateProgressBar();
			const token = getCookie('Authorization');
			if (token) {
				updateAuthButtons('로그아웃', '/logout', '마이페이지', '/mypage');
			}
			
			document.getElementById('hamburger-button').addEventListener('click', () => {
				document.getElementById('mobile-menu').classList.toggle('hidden');
			});
		});
		
		const getCookie = (name) => {
			const value = `; ${document.cookie}`;
			const parts = value.split(`; ${name}=`);
			if (parts.length === 2) return parts.pop().split(';').shift();
			return null;
		};
		
		const updateAuthButtons = (authText, authHref, mypageText, mypageHref) => {
			const authButton = document.getElementById('auth-button').firstChild;
			const authButtonMobile = document.getElementById('auth-button-mobile').firstChild;
			authButton.textContent = authText;
			authButton.href = authHref;
			authButtonMobile.textContent = authText;
			authButtonMobile.href = authHref;
			
			const mypageButton = document.getElementById('mypage-button').firstChild;
			const mypageButtonMobile = document.getElementById('mypage-button-mobile').firstChild;
			mypageButton.textContent = mypageText;
			mypageButton.href = mypageHref;
			mypageButtonMobile.textContent = mypageText;
			mypageButtonMobile.href = mypageHref;
		};
	</script>
</div>
