<head th:fragment="headFragment (title)">
	<link rel="icon" href="/static/buzz_bee_icon/favicon.ico" />
	<!-- Icon Font Stylesheet -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	<link rel="stylesheet" href="/static/css/toastui.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<!--    tailwind css & daisy ui -->
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

	<title th:text="'Buzz-Book | ' + ${title}"></title>
</head>