<div th:fragment="adminFooterFragment">
  <footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <nav class="pull-left">
        <ul class="nav">
         
          <li class="nav-item">
            <a class="nav-link" href="#"> Help </a>
          </li>

        </ul>
      </nav>
      <div class="copyright">
        2024, made with <i class="fa fa-heart heart text-danger"></i> by
        <a href="https://github.com/nhnacademy-be6-AA">NHN ACADEMY BE 6 2조 - AA</a>
      </div>
    </div>
  </footer>
</div>