<div th:fragment="adminSidebarFragment">
    <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
            <!-- Logo Header -->
            <div class="logo-header d-flex align-items-center" data-background-color="dark">
                <a href="/admin/home" class="d-flex align-items-center text-decoration-none">
                    <img src="/static/buzz_bee_icon/android-chrome-192x192.png" alt="logo" style="width: 30px; height: 30px;" />
                    <h4 class="ms-2 text-white" style="margin-top: 12px;">Buzz-Book</h4>
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>
            <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <ul class="nav nav-secondary">
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarLayouts">
                            <i class="fas fa-th-list"></i>
                            <p>쿠폰</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarLayouts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/coupons">
                                        <span class="sub-item">쿠폰 관리</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#tables">
                            <i class="fas fa-table"></i>
                            <p>포인트</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="tables">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/points">
                                        <span class="sub-item">포인트 관리</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--상품 탭-->
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#productTables">
                            <i class="fas fa-table"></i>
                            <p>상품</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="productTables">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/product">
                                        <span class="sub-item">상품 관리</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/tag">
                                        <span class="sub-item">태그 관리</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/category">
                                        <span class="sub-item">카테고리 관리</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#orderTables">
                            <i class="fas fa-table"></i>
                            <p>주문</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="orderTables">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/orders">
                                        <span class="sub-item">주문 내역</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/orders/billogs">
                                        <span class="sub-item">영수증 내역</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/orders/delivery-policies">
                                        <span class="sub-item">운임비 관리</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/orders/wrappings">
                                        <span class="sub-item">포장 관리</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const currentPath = window.location.pathname;
            const menuItems = document.querySelectorAll('.nav-item, .sub-item');

            menuItems.forEach((item) => {
                const itemPath = item.getAttribute('data-path');
                if (itemPath && currentPath.startsWith(itemPath)) {
                    item.classList.add('active');
                    const parent = item.closest('.collapse');
                    if (parent) {
                        parent.classList.add('show');
                    }
                }
            });
        });
    </script>

</div>
