<!--/*@thymesVar id="cart" type="java.util.List<store.buzzbook.front.dto.cart.CartDetailResponse>"*/-->
<!--/*@thymesVar id="detail" type="store.buzzbook.front.dto.cart.CartDetailResponse"*/-->

<body th:fragment="cartPageFragment('cart')">

<div class="container text-center align-items-center" th:if="${cart != null and !cart.isEmpty()}">
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>썸네일</th>
        <th>상품명</th>
        <th>수량</th>
        <th>가격</th>
        <th>총 가격</th>
        <th>제거</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="detail : ${cart}">
        <td><img th:src="@{${detail.thumbnailPath}}" alt="Product Thumbnail" width="50" /></td>
        <td th:text="${detail.productName}">Product Name</td>
        <td>
          <form th:action="@{/cart}" method="post">
            <input type="hidden" name="id" id="cart-id" th:value="${detail.id}"/>
            <input type="number" name="quantity" th:value="${detail.quantity}" min="1"
                   class="w-[64px] input input-bordered input-sm"
                   oninput="updateTotalPrice(this)"/>
            <button class="btn btn-ghost btn-sm" type="submit"> 변경</button>
          </form>
        </td>
        <td class="col-2 price" th:text="${detail.price}">Price</td>
        <td class="col-2 total-price" th:text="${detail.quantity * detail.price}">Total</td>
        <td class="col-2">
          <form th:action="@{/cart/delete}" method="get">
            <input type="hidden" name="detailId" th:value="${detail.id}"/>
            <button class="btn btn-ghost btn-xs" type="submit">
              <img src="/static/img/ico_delete_black@2x.png" alt="휴지통" class="w-1/2"/>
            </button>
          </form>
        </td>
      </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
      <tr>
        <td colspan="3">총합 가격</td>
        <td id="grand-total">0</td>
        <td>
          <button class="btn btn-ghost" type="button" onclick="goToOrder()">주문하기</button>
        </td>
        
        <td>
          <button class="btn btn-ghost" onclick="deleteAll()">전부 제거</button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div th:if="${cart == null or cart.isEmpty()}">
  <p>장바구니가 비어 있습니다..</p>
</div>
<!-- Cart Page End -->
<script>
    function calculateTotal() {
        let total = 0;
        document.querySelectorAll('.total-price').forEach(function (element) {
            total += parseFloat(element.innerText);
        });
        document.getElementById('grand-total').innerText = total;
    }

    function updateTotalPrice(element) {
        const row = element.closest('tr');
        const quantity = parseFloat(row.querySelector('.quantity-input').value);
        const price = parseFloat(row.querySelector('.price').innerText);
        const totalPriceElement = row.querySelector('.total-price');
        const totalPrice = quantity * price;
        totalPriceElement.innerText = totalPrice;

        calculateTotal();
    }

    document.addEventListener('DOMContentLoaded', function () {
        calculateTotal();
    });

    const deleteAll = async () => {
        // const cartId = document.getElementById('cart-id').value;
        // console.log(cartId);
        const response = await fetch(`/cart`, {
            method: "DELETE"
        });

        console.log(response);
    }

    function goToOrder() {
        window.location.href = '/order';
    }
</script>

</body>
