<body th:fragment="orderFailFragment">
<div class="flex flex-col justify-center align-center" style="min-height: calc(100vh - 103px - 316px)">
  <h2> 결제 실패 </h2>
  <p id="code"></p>
  <p id="message"></p>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);

    const codeElement = document.getElementById("code");
    const messageElement = document.getElementById("message");

    codeElement.textContent = "에러코드: " + urlParams.get("code");
    messageElement.textContent = "실패 사유: " + urlParams.get("message");
</script>
</body>


