<body th:fragment="myBillLogFragment ('myBillLogs')">

<div class="py-5"></div>
<br/>
<div th:if="${not #lists.isEmpty(myBillLogs)}">
    <div th:each="myBillLog : ${myBillLogs}">
        <div class="order" id="order">
            <div>
                결제 방법 : <span th:text="${myBillLog.payment}"></span><br>
                결제액 : <span th:text="${myBillLog.price}"></span><br>
                결제 일시 : <span th:text="${myBillLog.payAt}"></span><br>
                결제 상태 : <span th:text="${myBillLog.status}"></span><br>
                결제 번호 : <span th:text="${myBillLog.paymentKey}"></span><br>
                주문 번호 : <span th:text="${myBillLog.orderStr}"></span><br>

                <div th:if="${myBillLog.cancelReason != null}">
                    취소 이유 : <span th:text="${myBillLog.cancelReason}"></span><br>
                </div>

            </div>

            <hr>
        </div>
    </div>
</div>
</body>
