<body th:fragment="nonMemberOrderFormFragment ('nonMemberOrderForm')">

<div class="flex flex-col gap-4 border border-solid solid-[#eee] p-8 rounded-xl">
    <form action="/nonMemberOrder" method="post" enctype="multipart/form-data">
        <p class="text-lg font-bold p-4">비회원 주문 조회</p>
        <label for="orderId" class="input input-bordered flex items-center gap-2 mb-4">Order ID:
            <input type="text" class="grow" id="orderId" name="orderId" required></label>

        <label for="orderEmail" class="input input-bordered flex items-center gap-2 mb-4">Order Email:
            <input type="email" class="grow" id="orderEmail" name="orderEmail" required></label>
        <button type="submit" class="btn w-20-l bg-[#81c408] hover:bg-[#22a343] text-white">제출</button>
    </form>
</div>

</body>
