order

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
</head>
<body th:fragment="orderPageFragment ('myInfo', 'addressInfo', 'createOrderRequest', 'packages', 'cartInfo')">
<!-- Spinner Start -->
<div
        id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Navbar Start -->
<div th:replace="~{components/navbar :: navbarFragment}"></div>
<!-- Navbar End -->
<form method="post" enctype="multipart/form-data" th:action="@{/order}" th:object="${createOrderRequest}">

  주문 고객
  이름 : <input type="text" th:field="${myInfo.name}" required/>
  <br>
  휴대폰 : <input type="text" th:field="${myInfo.phoneNumber}" required/>
  <br>
  이메일 : <input type="text" th:field="${myInfo.email}" required/>
  <br>
  <br>

  배송 주소
  <br>
  <br>

  <input type="hidden" name="id" th:field="*{id}">
  이름 : <input type="text" th:field="*{name}" required/>
  <br>
  <br>
  배송지 :
  <input type="radio" id="addressBook" name="addressBook" th:value="AddressBook">
  <label for="addressBook">주소록</label>
  <input type="radio" id="newAddress" name="newAddress" th:value="NewAddress">
  <label for="newAddress">새로입력</label>

  <div id="addressDropdown" style="display:none;">
    <label for="addresses">Select Address:</label>
    <select id="addresses" th:each="address: ${addreessInfo}" name="addresses">
      <option value="address" th:text="${addressInfo.addressName}"></option>
    </select>
  </div>
  <br>

  주소 : <input type="text" th:field="*{address}"/>
  <br>
  상세 주소 : <input type="text" th:field="*{addressDetail}"/>
  <br>

  휴대폰 : <input type="text" th:field="*{phoneNumber}"/>
  <br>
  <br>

  배송일 선택 :
  <div>
    <input type="radio" id="tomorrow" name="delivery-date" required>
    <label for="tomorrow" id="label-tomorrow"></label>
  </div>
  <div>
    <input type="radio" id="dayAfterTomorrow" name="delivery-date" required>
    <label for="dayAfterTomorrow" id="label-dayAfterTomorrow"></label>
  </div>
  <div>
    <input type="radio" id="threeDaysLater" name="delivery-date" required>
    <label for="threeDaysLater" id="label-threeDaysLater"></label>
  </div>
  <br>


  포장 :
  <input type="radio" id="unpacked" name="unpacked" th:value="Unpacked">
  <label for="unpacked">안함</label>
  <input type="radio" id="packing" name="packing" th:value="Packing">
  <label for="packing">포장</label>

  <div id="packagingDropdown" style="display:none;">
    <label for="packages">Select Packaging:</label>
    <select id="packages" th:each="package: ${packages}" name="addresses">
      <option value="packages" th:text="${package.name}"></option>
    </select>
  </div>
  <br>

  택배사 직원에게 :  <input type="text" th:field="*{request}"/>



  최종 결제금액 : <label type="text" th:value="${cartInfo.price}"></label>

  <button type="submit" class="button">결제하기</button>
  <a th:href="@{/cart}">취소</a>
</form>
</body>

<script>
  function toggleAddressDropdown() {
    const addressBookRadio = document.getElementById('addressBook');
    const addressDropdown = document.getElementById('addressDropdown');

    if (addressBookRadio.checked) {
      addressDropdown.style.display = 'block';
    } else {
      addressDropdown.style.display = 'none';
    }
  }

  window.onload = function () {
    document.querySelectorAll('input[name="addressBook"]').forEach(radio => {
      radio.addEventListener('change', toggleAddressDropdown);
    });

    toggleAddressDropdown();
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    function formatDate(date) {
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const day = String(date.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }

    const today = new Date();
    const tomorrow = new Date(today);
    const dayAfterTomorrow = new Date(today);
    const threeDaysLater = new Date(today);

    tomorrow.setDate(today.getDate() + 1);
    dayAfterTomorrow.setDate(today.getDate() + 2);
    threeDaysLater.setDate(today.getDate() + 3);

    document.getElementById('tomorrow').value = formatDate(tomorrow);
    document.getElementById('dayAfterTomorrow').value = formatDate(dayAfterTomorrow);
    document.getElementById('threeDaysLater').value = formatDate(threeDaysLater);

    document.getElementById('label-tomorrow').textContent = `내일 (${formatDate(tomorrow)})`;
    document.getElementById('label-dayAfterTomorrow').textContent = `모레 (${formatDate(dayAfterTomorrow)})`;
    document.getElementById('label-threeDaysLater').textContent = `글피 (${formatDate(threeDaysLater)})`;
  });
</script>

</html>

