<body th:fragment="orderPageFragment ('myInfo', 'addressInfos', 'createOrderRequest', 'packages', 'policies', 'myPoint', 'myCoupons')">

<form method="post" id="order-info" enctype="multipart/form-data" class="p-4 flex flex-col gap-4">
    <h2 class="text-2xl font-bold my-4">주문/결제</h2>
    <div class="flex gap-4 border border-solid solid-[#eee] p-8 rounded-xl">
        <p class="text-lg font-bold p-4">주문자 정보 입력</p>
        <div class="flex flex-col gap-4 w-[400px]">
            <label class="input input-bordered flex items-center gap-2">
                이름
                <input type="text" class="grow" id="order-name" placeholder="전우치"/>
                <span class="error-message" id="error-order-name"></span>
            </label>
            <input type="hidden" id="order-loginId" th:field="${createOrderRequest.loginId}"/>
            <label class="input input-bordered flex items-center gap-2">
                연락처
                <input type="text" class="grow" id="order-phone-number" th:field="${createOrderRequest.contactNumber}"
                       placeholder="휴대폰 번호를 '-' 없이 입력해주세요."/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                이메일
                <input type="text" class="grow" id="order-email" th:field="${createOrderRequest.orderEmail}"
                       placeholder="abcd@buzz-book.store"/>
                <span class="error-message" id="error-order-email"></span>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                발신자
                <input type="text" class="grow" id="sender" th:field="${createOrderRequest.sender}" placeholder="전우치"
                       required/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                받는분
                <input type="text" class="grow" id="receiver" th:field="${createOrderRequest.receiver}"
                       placeholder="홍길동" required/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                받는분 연락처
                <input type="text" class="grow" id="receiverContactNumber" placeholder="휴대폰 번호를 '-' 없이 입력해주세요." required
                       th:field="${createOrderRequest.receiverContactNumber}"/>
            </label>
        </div>
    </div>

    <div th:if="${not #strings.isEmpty(myInfo.name)}"
         class="flex flex-col gap-4 border border-solid solid-[#eee] p-8 rounded-xl">
        <div class="flex gap-4">
            <p class="text-lg font-bold p-4">주소 입력</p>
            <div class="flex flex-col gap-4">
                <div>
                    <div class="flex gap-4 align-center">
                        <input type="radio" class="radio w-5 h-5 my-auto" id="addressBook" name="addressOption" required
                               value="AddressBook"/>
                        <label for="addressBook">주소록</label>
                        <input type="radio" class="radio w-5 h-5 my-auto" id="newAddress" name="addressOption"
                               value="NewAddress">
                        <label for="newAddress">직접 입력</label>
                    </div>
                </div>
                <div>
                    <div id="addressDropdown" style="display:none;">
                        <label th:for="addresses">
                            <select id="addresses" name="addresses" class="select select-ghost w-[400px] text-base"
                                    required>
                                <option th:each="address : ${addressInfos}"
                                        th:value="${address.id}"
                                        th:text="${address.alias}">
                                </option>

                            </select>
                        </label>
                    </div>

                    <div id="addressFields" class="flex flex-col w-[550px]">
                        <label class="input input-bordered flex items-center gap-2 mb-4">
                            주소
                            <input type="text" class="grow" th:field="${createOrderRequest.address}"/>
                        </label>
                        <label class="input input-bordered flex items-center gap-2 mb-4">
                            상세 주소
                            <input type="text" class="grow" th:field="${createOrderRequest.addressDetail}"/>
                        </label>
                        <label class="input input-bordered flex items-center gap-2 mb-4">
                            연락처
                            <input type="text" class="grow" th:field="${myInfo.contactNumber}"
                                   placeholder="휴대폰 번호를 '-' 없이 입력해주세요."/>
                        </label>
                        <label class="input input-bordered flex items-center gap-2 mb-4">
                            우편번호
                            <input type="text" class="grow" id="zipcode" th:field="${createOrderRequest.zipcode}"/>
                        </label>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="flex gap-4 border border-solid solid-[#eee] p-8 rounded-xl">
        <div class="flex flex-col gap-4">
            <p class="text-lg font-bold p-4">배송 정보 입력</p>
            <div class="input input-bordered flex items-center gap-2">
                <div class="flex align-center">
                    <input type="radio" class="radio mr-2 my-auto h-5 w-5" id="tomorrow" name="deliveryDate">
                    <label for="tomorrow" id="label-tomorrow">내일</label>
                </div>
                <div class="flex align-center">
                    <input type="radio" class="radio mr-2 my-auto h-5 w-5" id="dayAfterTomorrow" name="deliveryDate"
                           required>
                    <label for="dayAfterTomorrow" id="label-dayAfterTomorrow">모레</label>
                </div>
                <div class="flex align-center">
                    <input type="radio" class="radio mr-2 my-auto h-5 w-5" id="threeDaysLater" name="deliveryDate"
                           required>
                    <label for="threeDaysLater" id="label-threeDaysLater">3일 후</label>
                </div>
            </div>

            <label class="input input-bordered flex items-center gap-2">
                택배사 직원에게
                <input type="text" class="grow" th:field="${createOrderRequest.request}">
            </label>

            <label for="policies" class="input input-bordered flex items-center gap-2">
                배송 정책
                <select id="policies" name="policies" class="select select-ghost w-[300px] text-base rounded-none"
                        required>
                    <option disabled selected>배송 정책 선택</option>
                    <option th:each="policy : ${policies}" th:value="${policy.id}"
                            th:attr="policy-standard-price=${policy.standardPrice}, policy-policy-price=${policy.policyPrice}"
                            th:text="${policy.name}">
                    </option>
                </select>
            </label>
        </div>


        <div th:if="${#strings.isEmpty(myInfo.name)}">
            <p class="text-lg font-bold p-4">주소</p>
            <div class="flex flex-col gap-4 w-[500px]">
                <label class="input input-bordered flex items-center gap-2">
                    주소
                    <input type="text" class="grow" th:field="${createOrderRequest.address}" required/>
                </label>

                <label class="input input-bordered flex items-center gap-2">
                    상세 주소
                    <input type="text" th:field="${createOrderRequest.addressDetail}" required/>
                </label>

                <label class="input input-bordered flex items-center gap-2">
                    우편번호
                    <input type="text" th:field="${createOrderRequest.zipcode}" required/>
                </label>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4 border border-solid solid-[#eee] p-8 rounded-xl">

        <div th:each="createOrderDetailRequest, createOrderDetailRequestStat : ${createOrderRequest.details}"
             class="item flex flex-col">
            <div class="flex justify-center align-center gap-4">
                <div class="shadow-inner">
                    <!-- 사진 -->
                    <img id="thumbnailPath" th:src="${createOrderDetailRequest.thumbnailPath}" alt="Product Image"
                         class="w-[100px]"/>
                    <div type="hidden" id="orderId" th:if="${not #strings.isEmpty(createOrderDetailRequest.orderId)}"
                         th:value="${createOrderDetailRequest.orderId}"></div>
                    <div type="hidden" id="orderStatusId" th:value="${createOrderDetailRequest.orderStatusId}"></div>

                    <input th:id="'productId-' + ${createOrderDetailRequestStat.index}"
                           th:name="'productId-' + ${createOrderDetailRequestStat.index}" type="hidden"
                           th:value="${createOrderDetailRequest.productId}" readonly/>
                </div>
                <div class="w-2/3 my-auto">
                    <!-- 상품명 -->
                    <input class="w-full bg-transparent"
                           th:id="'dataName-' + ${createOrderDetailRequestStat.index}"
                           th:name="'dataName-' + ${createOrderDetailRequestStat.index}"
                           th:value="${createOrderDetailRequest.productName}" readonly/>
                </div>
                <div class="flex w-20 px-4 my-auto">
                    <!-- 상품수량-->
                    <input class="w-full bg-transparent text-right"
                           th:id="'dataQuantity-'+ ${createOrderDetailRequestStat.index}"
                           th:name="'dataQuantity-'+ ${createOrderDetailRequestStat.index}"
                           th:value="${createOrderDetailRequest.quantity}"
                           readonly/><span>개</span>
                </div>
                <div class="w-32 flex px-4 my-auto">
                    <!-- 상품 가격 -->
                    <input class="w-full bg-transparent text-right"
                           th:id="'dataPrice-'+ ${createOrderDetailRequestStat.index}"
                           th:name="'dataPrice-'+ ${createOrderDetailRequestStat.index}"
                           th:value="${createOrderDetailRequest.price}" readonly/><span>원</span>
                </div>

                <div class="flex flex-col w-[220px] my-auto">
                    <!-- 선물포장 -->
                    <input type="radio" th:id="'unpacked-' + ${createOrderDetailRequestStat.index}" required
                           th:name="'packing-' + ${createOrderDetailRequestStat.index}" value="false">
                    <label th:for="'unpacked-' + ${createOrderDetailRequestStat.index}">포장 안함</label>
                    <input type="radio" th:if="${#bools.isTrue(createOrderDetailRequest.wrap)}"
                           th:id="'wrapping-' + ${createOrderDetailRequestStat.index}"
                           th:name="'packing-' + ${createOrderDetailRequestStat.index}" value=1>
                    <label th:if="${#bools.isTrue(createOrderDetailRequest.wrap)}"
                           th:for="'wrapping-' + ${createOrderDetailRequestStat.index}">포장 선택</label>
                    <div th:id="'packagingDropdown-' + ${createOrderDetailRequestStat.index}" style="display:none;">
                        <label th:for="'packages-' + ${createOrderDetailRequestStat.index}">
                            <select th:id="'packages-' + ${createOrderDetailRequestStat.index}"
                                    th:name="'packages-' + ${createOrderDetailRequestStat.index}">
                                <option th:each="package : ${packages}" th:value="${package.id}"
                                        th:attr="data-package-price=${package.price}"
                                        th:text="${package.paper} + ' (' + ${package.price} + '원)'"></option>
                            </select>
                        </label>
                    </div>

                </div>
            </div>
            <div class="divider"></div>
        </div>
        <input type="hidden" id="orderStr" th:value="${createOrderRequest.orderStr}"
               th:field="${createOrderRequest.orderStr}"/>

        <div class="flex flex-col gap-4">
            <div>
                <label class="input input-bordered flex items-center gap-2">
                    총 상품 금액
                    <input type="text" id="totalProductPrice" th:name="totalProductPrice" class="grow" readonly/>
                </label>
            </div>
            <div>
                <label class="input input-bordered flex items-center gap-2">
                    배송비
                    <input type="text" class="grow text-right" id="deliveryRate" value="5000"
                           th:field="${createOrderRequest.deliveryRate}" readonly/>
                </label>
            </div>
            <div>
                <label class="input input-bordered flex items-center gap-2">
                    총 가격
                    <input type="text" id="totalPrice" class="grow" readonly/>
                </label>
            </div>

            <div id="couponDropdown">
                <label for="coupons">
                    <select id="coupons" name="coupons" class="select select-bordered w-full text-base">
                        <option th:value="0">쿠폰 선택</option>
                        <option th:each="myCoupon : ${myCoupons}"
                                th:value="${myCoupon.couponCode}"
                                th:text="${myCoupon.couponPolicyName}"
                                th:attr="coupon-policy-type=${myCoupon.couponPolicyDiscountType},
                     coupon-policy-amount=${myCoupon.couponPolicyDiscountAmount},
                     coupon-policy-rate=${myCoupon.couponPolicyDiscountRate},
                     coupon-policy-standard-policy=${myCoupon.couponPolicyStandardPrice},
                     coupon-policy-max-discount-amount=${myCoupon.couponPolicyMaxDiscountAmount}">
                        </option>
                    </select>
                </label>
            </div>
            <div>
                <label class="input input-bordered flex items-center gap-2">
                    포인트 사용
                    <input type="number" class="grow text-right" id="pointDeducted" value="0"
                           th:field="${createOrderRequest.myPoint}"/>
                </label>
            </div>

            <div>
                <label class="input input-bordered flex items-center gap-2">
                    사용 가능 포인트
                    <input type="number" class="grow text-right" id="my-point" th:value="${myPoint}" readonly/>
                </label>
            </div>
        </div>


        <input type="hidden" id="couponPrice" th:value="0"/>


        <div>
            <label class="input input-ghost flex items-center gap-2 text-lg font-bold">
                최종 결제 금액
                <input type="text" class="grow text-[#81c408] dark:text-[#6ba007] text-right" id="discountPrice"
                       th:name="price"
                       th:field="${createOrderRequest.price}" readonly/>
            </label>
        </div>

    </div>

    <div class="border border-solid solid-[#eee] p-8 rounded-xl">
        <!-- 결제 UI -->
        <div id="payment-method"></div>
        <!-- 이용약관 UI -->
        <div id="agreement"></div>
        <!-- 결제하기 버튼 -->
        <div class="flex justify-between gap-4">
            <button type="button" id="payment-button" class="btn w-1/2 bg-[#81c408] text-white dark:bg[#6ba007]">결제하기
            </button>
            <button type="button" id="different-payment-button"
                    class="btn w-1/2 bg-[#81c408] text-white dark:bg[#6ba007] hidden">결제하기
            </button>
            <a class="btn w-1/2" th:href="@{/cart}">취소</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    const discountPriceInput = document.getElementById('discountPrice');
    const paymentButton = document.getElementById('payment-button');
    const differentPaymentButton = document.getElementById('different-payment-button');

    const validityMessage = {
        badInput: "잘못된 입력입니다.",
        patternMismatch: "패턴에 맞게 입력하세요",
        rangeOverflow: "범위를 초과하였습니다",
        rangeUnderflow: "범위에 미달하였습니다",
        stepMismatch: "간격에 맞게 입력하세요",
        tooLong: "최대 글자 미만으로 입력하세요",
        tooShort: "최소 글자 미만으로 입력하세요",
        typeMismatch: "형식에 맞게 입력하세요",
        valueMissing: "필드를 반드시 입력하세요",
    };

    function getMessage(validity) {
        for (const key in validityMessage) {
            if (validity[key]) {
                return validityMessage[key];
            }
        }
        return "";
    }

    function showError(input) {
        const errorMessageElement = document.getElementById(`error-${input.id}`);
        if (errorMessageElement) {
            errorMessageElement.textContent = getMessage(input.validity);
        }
    }

    function validate() {
        let showAlertFlag = false;
        let submitForm = false;
        let deliveryFlag = false;
        const form = document.getElementById("order-info");
        const inputs = form.querySelectorAll("input");
        const deliveryPolicySelect = document.getElementById('policies');

        if (deliveryPolicySelect.value === "배송 정책 선택") {
            alert('배송 정책을 선택해주세요.');
        } else {
            deliveryFlag = true;
        }

        inputs.forEach(input => {
            showError(input);
            if (input.validity.valid === false && !showAlertFlag) {
                showAlertFlag = true;
                alert(getMessage(input.validity));
            }
        });

        if (form.checkValidity() && deliveryFlag) {
            submitForm = true;
        }

        return submitForm;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const wrappingRadios = document.querySelectorAll('input[type="radio"][id^="wrapping-"]');

        wrappingRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                if (radio.checked) {
                    const index = radio.id.split('-')[1];
                    const unpackedRadio = document.getElementById('unpacked-' + index);
                    if (!unpackedRadio.checked) {
                        unpackedRadio.value = "true";
                    }
                }
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        function toggleAddress() {
            const addressFields = document.getElementById('addressFields');
            const addressDropdown = document.getElementById('addressDropdown');
            const newAddressRadio = document.getElementById('newAddress');
            const addressBookRadio = document.getElementById('addressBook');

            if (newAddressRadio.checked) {
                addressFields.style.display = 'block';
                addressDropdown.style.display = 'none';
            } else if (addressBookRadio.checked) {
                addressFields.style.display = 'none';
                addressDropdown.style.display = 'block';
            }
        }

        document.querySelectorAll('input[name="addressOption"]').forEach(function (radio) {
            radio.addEventListener('change', toggleAddress);
        });

        toggleAddress();
    });

    document.addEventListener('DOMContentLoaded', function () {
        function toggleWrappingDropdown(index) {
            const packageRadio = document.getElementById('wrapping-' + index);
            const packagingDropdown = document.getElementById('packagingDropdown-' + index);

            if (packageRadio.checked) {
                packagingDropdown.style.display = 'block';
            } else {
                packagingDropdown.style.display = 'none';
            }
        }

        document.querySelectorAll('input[id^="wrapping-"]').forEach(function (radio) {
            const index = radio.id.split('-')[1];
            radio.addEventListener('change', function () {
                toggleWrappingDropdown(index);
            });
        });

        document.querySelectorAll('input[id^="unpacked-"]').forEach(function (radio) {
            const index = radio.id.split('-')[1];
            radio.addEventListener('change', function () {
                toggleWrappingDropdown(index);
            });
        });

        document.querySelectorAll('input[id^="wrapping-"]').forEach(function (radio) {
            const index = radio.id.split('-')[1];
            toggleWrappingDropdown(index);
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        const today = new Date();
        const tomorrow = new Date(today);
        const dayAfterTomorrow = new Date(today);
        const threeDaysLater = new Date(today);

        tomorrow.setDate(today.getDate() + 1);
        dayAfterTomorrow.setDate(today.getDate() + 2);
        threeDaysLater.setDate(today.getDate() + 3);

        document.getElementById('tomorrow').value = formatDate(tomorrow);
        document.getElementById('dayAfterTomorrow').value = formatDate(dayAfterTomorrow);
        document.getElementById('threeDaysLater').value = formatDate(threeDaysLater);

        document.getElementById('label-tomorrow').textContent = `내일 (${formatDate(tomorrow)})`;
        document.getElementById('label-dayAfterTomorrow').textContent = `모레 (${formatDate(dayAfterTomorrow)})`;
        document.getElementById('label-threeDaysLater').textContent = `글피 (${formatDate(threeDaysLater)})`;

        if (!document.getElementById('tomorrow').checked && !document.getElementById('dayAfterTomorrow').checked && !document.getElementById('threeDaysLater').checked) {
            document.getElementById('tomorrow').checked = true;
        }
    });

    let finalPriceForPay = 0;

    class PriceCalculator {
        constructor() {
            this.totalProductPrice = 0;
            this.packagePrice = 0;
            this.pointsDeducted = 0;
            this.packageSelected = false;
            this.couponAmount = 0;
            this.deliveryRate = 0;
            this.totalPrice = 0;
        }

        calculateTotalProductPrice() {
            this.totalProductPrice = 0;
            document.querySelectorAll('.item').forEach(item => {
                const price = parseInt(item.querySelector('[name^="dataPrice"]').value);
                const quantity = parseInt(item.querySelector('[name^="dataQuantity"]').value);
                this.totalProductPrice += price * quantity;
            });
            document.getElementById('totalProductPrice').value = this.totalProductPrice.toLocaleString();
            return this;
        }

        updateTotalPrice() {
            this.totalPrice = this.totalProductPrice + (this.packageSelected ? this.packagePrice : 0) + this.packagePrice + this.deliveryRate;
            document.getElementById('totalPrice').value = this.totalPrice.toLocaleString();
            return this;
        }

        formatNumber(value) {
            return value.toString().replace(/\D/g, "");
        }

        updateFinalPrice() {
            let finalPrice = this.totalProductPrice + (this.packageSelected ? this.packagePrice : 0) + this.packagePrice
                - (this.pointsDeducted ? this.pointsDeducted : 0) - (this.couponAmount ? this.couponAmount : 0) + this.deliveryRate;
            document.getElementById('discountPrice').value = finalPrice.toLocaleString();
            finalPriceForPay = this.formatNumber(finalPrice);
            this.updateButtons();
            return this;
        }

        updatePackagePrice() {
            let packagePrice = 0;
            const selectElements = document.querySelectorAll('select[id^="packages-"]');

            selectElements.forEach(selectElement => {
                const selectedOption = selectElement.options[selectElement.selectedIndex];
                let newPackagePrice = parseInt(selectedOption.getAttribute('data-package-price'));

                if (selectElement.selectedIndex === 0) {
                    newPackagePrice = 0;
                }

                packagePrice += newPackagePrice;
            });

            this.packagePrice = packagePrice;
            this.updateTotalPrice().updateFinalPrice();
            return this;
        }

        resetPackagePrice(index) {
            const unpackedRadio = document.querySelector(`input[type="radio"][id="unpacked-${index}"]`);

            unpackedRadio.value = "false";

            document.querySelector(`select[id="packages-${index}"]`).value = 1;
            this.updatePackagePrice().updateTotalPrice().updateFinalPrice();

            return this;
        }

        checkPointDeduction() {
            this.pointsDeducted = parseInt(document.getElementById("pointDeducted").value);
            const pointDeducted = document.getElementById('pointDeducted');
            const availablePoints = parseInt(document.getElementById('my-point').value);
            const pointDeductedValue = parseInt(pointDeducted.value);

            if (pointDeductedValue > availablePoints) {
                pointDeducted.value = availablePoints;
            } else if (pointDeductedValue < 0 || isNaN(pointDeductedValue)) {
                pointDeducted.value = 0;
            }

            if (pointDeductedValue > this.totalPrice) {
                pointDeducted.value = this.totalPrice;
            }
        }

        updateDeliveryRate() {
            this.deliveryRate = 5000;
            const selectedDeliveryPolicy = document.getElementById('policies').selectedOptions[0];
            const standardPrice = parseInt(selectedDeliveryPolicy.getAttribute('policy-standard-price'));
            const policyPrice = parseInt(selectedDeliveryPolicy.getAttribute('policy-policy-price'));
            if (this.totalProductPrice >= standardPrice) {
                this.deliveryRate = policyPrice;
            } else {
                if (selectedDeliveryPolicy.text === '도서산간') {
                    this.deliveryRate = 10000;
                }
            }

            document.getElementById('deliveryRate').value = this.formatNumber(this.deliveryRate).toLocaleString();
            this.updateTotalPrice().updateFinalPrice();
        }

        applyCoupon() {
            this.couponAmount = 0;
            const selectedCoupon = document.getElementById('coupons').selectedOptions[0];
            const discountType = selectedCoupon.getAttribute('coupon-policy-type');
            const discountAmount = parseInt(selectedCoupon.getAttribute('coupon-policy-amount'));
            const discountRate = parseFloat(selectedCoupon.getAttribute('coupon-policy-rate'));
            const standardPrice = parseInt(selectedCoupon.getAttribute('coupon-policy-standard-policy'));
            const maxDiscountAmount = parseInt(selectedCoupon.getAttribute('coupon-policy-max-discount-amount'));
            const totalAmount = parseInt(this.formatNumber(document.getElementById('discountPrice').value));
            if (totalAmount >= standardPrice) {
                if (discountType === 'rate') {
                    let discount = totalAmount * (discountRate);
                    if (discount > maxDiscountAmount) {
                        discount = maxDiscountAmount;
                    }
                    this.couponAmount += discount;
                    document.getElementById('couponPrice').value = this.couponAmount;
                } else if (discountType === 'amount') {
                    this.couponAmount += discountAmount;
                    document.getElementById('couponPrice').value = this.couponAmount;
                    if (totalAmount < 0) {
                        this.totalProductPrice = 0;
                    }
                }
            }

            this.updateFinalPrice();
        }

        updateButtons() {
            const value = parseInt(discountPriceInput.value);
            if (value === 0) {
                paymentButton.disabled = true;
                paymentButton.classList.add('hidden');
                differentPaymentButton.disabled = false;
                differentPaymentButton.classList.remove('hidden');
            } else {
                paymentButton.disabled = false;
                paymentButton.classList.remove('hidden');
                differentPaymentButton.disabled = true;
                differentPaymentButton.classList.add('hidden');
            }
        }

        addEventListeners() {

            document.getElementById('policies').addEventListener('change', () => {
                this.updateDeliveryRate();
                this.calculateTotalProductPrice().updatePackagePrice().updateTotalPrice();
                this.applyCoupon();
                this.updateFinalPrice();
            });

            document.getElementById('coupons').addEventListener('change', () => {
                this.calculateTotalProductPrice().updatePackagePrice().updateTotalPrice();
                this.applyCoupon();
                this.updateFinalPrice();
            });

            document.getElementById('pointDeducted').addEventListener('input', () => {
                this.checkPointDeduction();
                this.pointsDeducted = parseInt(document.getElementById('pointDeducted').value);
                this.updateFinalPrice();
            });

            document.querySelectorAll('select[id^="packages-"]').forEach(select => {
                select.addEventListener('change', () => {
                    const anySelected = Array.from(document.querySelectorAll('select[id^="packages-"]'))
                        .some(selectElement => selectElement.selectedIndex !== 0);

                    if (anySelected) {
                        this.updatePackagePrice();
                    } else {
                        this.packagePrice = 0;
                        this.updateTotalPrice().updateFinalPrice();
                    }
                });
            });

            document.querySelectorAll('input[type="radio"][id^="unpacked-"]').forEach(radio => {
                radio.addEventListener('change', () => {
                    if (radio.checked) {
                        const index = radio.id.split('-')[1];
                        this.resetPackagePrice(index)
                        this.updatePackagePrice().updateTotalPrice().updateFinalPrice();
                    }
                });
            });

            return this;
        }

        init() {
            this.calculateTotalProductPrice().updatePackagePrice().updateTotalPrice().updateFinalPrice().addEventListeners();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const calculator = new PriceCalculator();
        calculator.init();
    });

    async function get(url, contentType, headers = {}) {
        const options = {
            method: "GET",
            headers: {
                'Content-Type': contentType,
                'Accept': 'application/json',
            }
        };

        try {
            const res = await fetch(url, options);

            if (!res.ok) {
                console.error(`HTTP error! status: ${res.status}`);
                return null;
            }
        } catch (error) {
            console.error("Error in post request:", error);
            return null;
        }
    }

    async function post(url, body, contentType, headers = {}) {
        const options = {
            method: "POST",
            headers: {
                'Content-Type': contentType,
                'Accept': 'application/json',
            },
            body: body,
        };

        try {
            const res = await fetch(url, options);

            if (!res.ok) {
                console.error(`HTTP error! status: ${res.status}`);
                return null;
            }
        } catch (error) {
            console.error("Error in post request:", error);
            return null;
        }
    }

    function collectFormData(formElement) {
        const formData = new FormData(formElement);
        const requestData = {};

        formData.forEach((value, key) => {
            const keys = key.split('.');

            if (keys.length > 1) {
                if (!requestData[keys[0]]) {
                    requestData[keys[0]] = {};
                }
                requestData[keys[0]][keys[1]] = value;
            } else {
                requestData[key] = value;
            }
        });

        if (requestData.desiredDeliveryDate) {
            requestData.desiredDeliveryDate = new Date(requestData.desiredDeliveryDate).toISOString();
        }

        return JSON.stringify(requestData).replace(/'/g, '"').replace(/\r/gi, '\\r').replace(/\n/gi, '\\n').replace(/\t/gi, '\\t').replace(/\f/gi, '\\f');
    }

    let requestData;

    function register() {
        const formElement = document.getElementById('order-info');
        requestData = collectFormData(formElement);

        console.log("로그 requestData", requestData);

        const obj = JSON.parse(requestData);

        function objectToQueryString(obj) {
            return Object.keys(obj).map(key => `${key}=${obj[key]}`).join('&');
        }

        const queryString = objectToQueryString(obj);
        console.log(queryString)

        return post('/order/register', queryString, 'application/x-www-form-urlencoded');

    }

    const button = document.getElementById("payment-button");
    const generateRandomString = () => window.btoa(Math.random()).slice(0, 20);
    const clientKey = "test_ck_GjLJoQ1aVZ5mxEW1A46W3w6KYe2R"; // 노출
    const customerKey = generateRandomString();
    const tossPayments = TossPayments(clientKey);
    const payment = tossPayments.payment({ customerKey });

    function getFormattedDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const hour = String(now.getHours()).padStart(2, '0');
        const minute = String(now.getMinutes()).padStart(2, '0');
        const second = String(now.getSeconds()).padStart(2, '0');
        return `${year}${month}${day}${hour}${minute}${second}`;
    }

    function generateBuzzString() {
        const date = getFormattedDate();
        const randomString = window.btoa(Math.random()).slice(0, 5);
        return `buzz${date}${randomString}`;
    }

    const paymentKey = generateBuzzString();

    function pay() {
        const url = window.location.origin + "/success?orderId="+document.getElementById('orderStr').value + "&paymentKey=" + paymentKey +"&amount="+ parseInt(finalPriceForPay) +"&customerEmail=" + document.getElementById('order-email').value + "&myPoint="
            + document.getElementById('pointDeducted').value + "&couponCode=" + document.getElementById('coupons').value + "&couponPrice=" + document.getElementById('couponPrice').value;
        location.href = url;
    }

    button.addEventListener("click", function (event) {
        event.preventDefault();
        if (!validate()) {
            return;
        }

        document.getElementById('orderStr').value = generateRandomString();

        try {
            register().then(
                data => {
                    payment.requestPayment({
                        method: "CARD",
                        amount: {
                            currency: "KRW",
                            value: parseInt(finalPriceForPay),
                        },
                        orderId: orderStr,
                        orderName: "버즈북",
                        successUrl: window.location.origin + "/success?customerEmail=" + document.getElementById('order-email').value + "&myPoint="
                            + document.getElementById('pointDeducted').value + "&couponCode=" + document.getElementById('coupons').value + "&couponPrice=" + document.getElementById('couponPrice').value
                        ,
                        failUrl: window.location.origin + "/fail",
                        customerEmail: document.getElementById('order-email').value,
                        customerName: document.getElementById('order-name').value,
                        customerMobilePhone: document.getElementById('order-phone-number').value,
                        // 카드 결제에 필요한 정보
                        card: {
                            useEscrow: false,
                            flowMode: "DEFAULT", // 통합결제창 여는 옵션
                            useCardPoint: false,
                            useAppCardOnly: false,
                        },
                    });
                }
            );
        } catch (e) {
            console.error(e);
        }
    });

    differentPaymentButton.addEventListener("click", function (event) {
        event.preventDefault();
        if (!validate()) {
            return;
        }

        document.getElementById('orderStr').value = generateRandomString();

        try {
            register().then(
                data => {
                    pay()
                }
            );
        } catch (e) {
            console.error(e);
        }

    });


    /*]]>*/
</script>

</body>
