<body th:fragment="orderSuccessFragment ('orderResult')">
<h2>결제 성공</h2>
<p id="paymentKey"></p>
<p id="orderId"></p>
<p id="amount"></p>

<br/>

주문 번호 : <span th:text="${orderResult.orderStr}"></span><br>
총 가격 : <span th:text="${orderResult.price}"></span><br>
주소 : <span th:text="${orderResult.address}"></span><br>
상세 주소 : <span th:text="${orderResult.addressDetail}"></span><br>
우편 번호 : <span th:text="${orderResult.zipcode}"></span><br>
희망 배송일 : <span th:text="${orderResult.desiredDeliveryDate}"></span><br>
수신자 : <span th:text="${orderResult.receiver}"></span><br>
수신자 연락처 : <span th:text="${orderResult.receiverContactNumber}"></span><br>
발신자 : <span th:text="${orderResult.sender}"></span><br>
운임비 : <span th:text="${orderResult.deliveryRate}"></span><br>
이메일 : <span th:text="${orderResult.orderEmail}"></span><br>
<div th:if="${not #strings.isEmpty(orderResult.couponCode)}">
    쿠폰 코드 : <span th:text="${orderResult.couponCode}"></span><br>
</div>

주문 상태 : <span th:text="${myOrder.orderStatus}"></span><br>
<div th:if="${not #numbers.isEmpty(myOrder.deductedPoints)}">
    사용 포인트 : <span th:text="${myOrder.deductedPoints}"></span><br>
</div>
<div th:if="${not #numbers.isEmpty(myOrder.earnedPoints)}">
    적립 포인트 : <span th:text="${myOrder.earnedPoints}"></span><br>
</div>
<div th:if="${not #numbers.isEmpty(myOrder.deductedCouponPrice)}">
    사용된 쿠폰 금액 : <span th:text="${myOrder.deductedCouponPrice}"></span><br>
</div>

<div th:if="${not #lists.isEmpty(orderResult.details)}">
    <div th:each="detail : ${orderResult.details}">
        <div class="order" id="order">
            <div>
                상품 이름: <span th:text="${detail.productResponse.productName}"></span><br>
                상품 가격 : <span th:text="${detail.price}"></span><br>
                상품 수량 : <span th:text="${detail.quantity}"></span><br>
                <div th:if="${not #strings.isEmpty(detail.wrap)}">
                    포장 여부 : <span th:text="${detail.wrap}"></span><br>
                </div>
                주문일 : <span th:text="${detail.createdAt}"></span><br>
                배송 상태 : <span th:text="${detail.readOrderStatusResponse.name}"></span><br>
                포장지 : <span th:text="${detail.readWrappingResponse.paper}"></span><br>
            </div>
        </div>
    </div>
</div>

<script>
    // 쿼리 파라미터 값이 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
    // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");

    async function confirm() {
        if (!paymentKey.startsWith('buzz')) {
            const confirmRequestData = {
                paymentKey: paymentKey,
                orderId: orderId,
                amount: amount
            };

            const confirmResponse = await fetch("/confirm/toss", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(confirmRequestData),
            });

            const paymentJson = await confirmResponse.json();

            if (!confirmResponse.ok) {
                // 결제 실패 비즈니스 로직을 구현하세요.
                console.log(paymentJson);
                window.location.href = `/fail?message=${paymentJson.message}&code=${paymentJson.code}`;
            }

            // 결제 성공 비즈니스 로직을 구현하세요.
            console.log(paymentJson);
        } else {
            const confirmRequestData = {
                paymentKey: paymentKey,
                orderId: orderId,
                amount: amount
            };

            const confirmResponse = await fetch("/confirm", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(confirmRequestData),
            });

            const paymentJson = await confirmResponse.json();

            if (!confirmResponse.ok) {
                // 결제 실패 비즈니스 로직을 구현하세요.
                console.log(paymentJson);
                window.location.href = `/fail?message=${paymentJson.message}&code=${paymentJson.code}`;
            }

            // 결제 성공 비즈니스 로직을 구현하세요.
            console.log(paymentJson);
        }

    }

    confirm();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");

    orderIdElement.textContent = "주문번호: " + orderId;
    amountElement.textContent = "결제 금액: " + amount;
    paymentKeyElement.textContent = "paymentKey: " + paymentKey;
</script>
</body>
