<body th:fragment="orderSuccessFragment ('orderResult')">
<h2>결제 성공</h2>
<p id="paymentKey"></p>
<p id="orderId"></p>
<p id="amount"></p>

주문 번호 : <span th:text="${orderResult.orderStr}"></span><br>
총 가격 : <span th:text="${orderResult.price}"></span><br>
주소 : <span th:text="${orderResult.address}"></span><br>
상세 주소 : <span th:text="${orderResult.addressDetail}"></span><br>
우편 번호 : <span th:text="${orderResult.zipcode}"></span><br>
희망 배송일 : <span th:text="${orderResult.desiredDeliveryDate}"></span><br>
수신자 : <span th:text="${orderResult.receiver}"></span><br>
수신자 연락처 : <span th:text="${orderResult.receiverContactNumber}"></span><br>
발신자 : <span th:text="${orderResult.sender}"></span><br>

<div th:if="${not #lists.isEmpty(orderResult.details)}">
    <div th:each="detail : ${orderResult.details}">
        <div class="order" id="order">
            <div>
                상품 이름: <span th:text="${detail.productResponse.productName}"></span><br>
                상품 가격 : <span th:text="${detail.price}"></span><br>
                상품 수량 : <span th:text="${detail.quantity}"></span><br>
                포장 여부 : <span th:text="${detail.wrap}"></span><br>
                주문일 : <span th:text="${detail.createdAt}"></span><br>
                배송 상태 : <span th:text="${detail.readOrderStatusResponse.name}"></span><br>
                포장지 : <span th:text="${detail.readWrappingResponse.paper}"></span><br>
            </div>
        </div>
    </div>
</div>

<script>
    // 쿼리 파라미터 값이 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
    // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");

    async function confirm() {
        const confirmRequestData = {
            paymentKey: paymentKey,
            orderId: orderId,
            amount: amount,
        };

        const confirmResponse = await fetch("/confirm/toss", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(confirmRequestData),
        });

        const paymentJson = await confirmResponse.json();

        if (!confirmResponse.ok) {
            // 결제 실패 비즈니스 로직을 구현하세요.
            console.log(paymentJson);
            window.location.href = `/success?message=${paymentJson.message}&code=${paymentJson.code}`;
        }

        // 결제 성공 비즈니스 로직을 구현하세요.
        console.log(paymentJson);

        const billLogResponse = await fetch('/bill-log/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(paymentJson),
        });

        const billLogJson = await billLogResponse.json();
        console.log(billLogJson);

        const paymentLogRequestData = {
            billLogId: billLogJson.id,
            orderId: orderId,
            amount: amount,
        };

        const paymentLogResponse = await fetch('/payment-log/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(paymentLogRequestData),
        });

        const paymentLogJson = await paymentLogResponse.json();
        console.log(paymentLogJson);
    }
    confirm();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");

    orderIdElement.textContent = "주문번호: " + orderId;
    amountElement.textContent = "결제 금액: " + amount;
    paymentKeyElement.textContent = "paymentKey: " + paymentKey;
</script>
</body>
