<div th:fragment="myDeactivatePageFragment">
<!-- my Page Start -->
<div class="py-5"></div>
<h1>탈퇴</h1>
<div>
    <label for="password">비밀번호 확인</label>
    <input type="password" id="password" name="password" placeholder="password" required />
    <label for="reason">탈퇴 사유</label>
    <input type="text" id="reason" name="reason" placeholder="reason" required />
    <button type="submit" onclick="deactivate()">탈퇴</button>
</div>


<script>
    function deactivate(){
        const password = document.getElementById("password").value;
        const reason = document.getElementById("reason").value;
        const data = {
            password: password,
            reason: reason
        };

        fetch('/mypage/deactivate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(data => {
                console.log(data)
                if (data.status===200) {
                    alert('탈퇴가 성공적으로 처리되었습니다.');
                    window.location.href = '/logout';
                } else {
                    alert('탈퇴 처리 중 오류가 발생했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('탈퇴 처리 중 오류가 발생했습니다.');
            });
    }
</script>
</div>