<div th:fragment="myDeactivatePageFragment">

<!-- my Page Start -->
<div class="py-5"></div>
<h1>탈퇴</h1>
<div>
    <form id="deactivateForm" action="/mypage/deactivate" method="post">
        <label for="password">비밀번호 확인</label>
        <input type="password" id="password" name="password" placeholder="password" required />
        <label for="reason">탈퇴 사유</label>
        <input type="text" id="reason" name="reason" placeholder="reason" required />
        <button type="submit">탈퇴</button>
    </form>
</div>


<script>
    document.getElementById('deactivateForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 기본 폼 제출 방지

        const formData = new FormData(this);

        fetch('/mypage/deactivate', {
            method: 'POST',
            body: formData
        })
            .then(data => {
                console.log(data)
                if (data.status===200) {
                    alert('탈퇴가 성공적으로 처리되었습니다.');
                    window.location.href = '/home'; // 성공 시 리디렉션
                } else {
                    alert('탈퇴 처리 중 오류가 발생했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('탈퇴 처리 중 오류가 발생했습니다.');
            });
    });
</script>
</div>