<!--/*@thymesVar id="coupons" type="java.util.List<store.buzzbook.front.dto.coupon.CouponResponse>"*/-->
<div th:fragment="myPageCouponFragment('coupons')">
    <div class="container p-5">
        <h1 class="text-xl font-bold pb-4">쿠폰 내역</h1>
        <div class="flex justify-end mb-3">
            <form id="filterForm" th:action="@{/mypage/coupons}" method="get">
                <label for="couponStatusName" class="hidden">쿠폰 상태</label>
                <select class="select select-bordered w-[150px] select-xs" id="couponStatusName" name="couponStatusName"
                        onchange="document.getElementById('filterForm').submit()">
                    <option value="all">전체</option>
                    <option value="used">사용함</option>
                    <option value="available">사용 가능</option>
                    <option value="expired">만료됨</option>
                </select>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>쿠폰 이름</th>
                <th>다운로드 받은 날짜</th>
                <th>사용기간 만료 날짜</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon : ${coupons}">
                <td th:text="${coupon.couponPolicyResponse.name}">정책 이름</td>
                <td th:text="${#temporals.format(coupon.createDate, 'yyyy-MM-dd')}">생성일</td>
                <td th:text="${#temporals.format(coupon.expireDate, 'yyyy-MM-dd')}">만료일</td>
                <td th:text="${coupon.status}">상태</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            const couponStatusName = urlParams.get('couponStatusName');

            if (couponStatusName) {
                const selectElement = document.getElementById('couponStatusName');
                selectElement.value = couponStatusName;
            }
        });
    </script>
</div>
