<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>쿠폰 내역</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body th:fragment="myPageCouponFragment('coupons')">
<div class="container mt-5">
    <h3>쿠폰 내역</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>쿠폰 이름</th>
            <th>다운로드 받은 날짜</th>
            <th>사용기간 만료 날짜</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${coupons}">
            <td th:text="${coupon.couponPolicyResponse.name}">정책 이름</td>
            <td th:text="${#temporals.format(coupon.createDate, 'yyyy-MM-dd')}">생성일</td>
            <td th:text="${#temporals.format(coupon.expireDate, 'yyyy-MM-dd')}">만료일</td>
            <td th:text="${coupon.status}">상태</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
