<div th:fragment="myPagePointsFragment('points')">
    <div class="container p-5">
        <h1 class="text-xl font-bold pb-4">포인트 내역</h1>
        <table class="table">
            <thead>
            <tr>
                <th>날짜</th>
                <th>설명</th>
                <th>변동 포인트</th>
                <th>잔액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pointLog : ${points.content}">
                <td th:text="${#temporals.format(pointLog.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                <td th:text="${pointLog.inquiry}">설명</td>
                <td th:text="${pointLog.delta}">변동 포인트</td>
                <td th:text="${pointLog.balance}">잔액</td>
            </tr>
            </tbody>
        </table>
        <div class="flex justify-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!points.hasPrevious()} ? 'disabled'" style=display:inline;>
                        <a class="page-link" th:href="@{|/mypage/points?page=${points.number - 1}|}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pageNum : ${#numbers.sequence(0, points.totalPages - 1)}"
                        th:classappend="${pageNum == points.number} ? 'active' : ''" class="page-item"
                        style=display:inline;>
                        <a class="page-link" th:href="@{|/mypage/points?page=${pageNum}|}"
                           th:text="${pageNum + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!points.hasNext()} ? 'disabled'" style=display:inline;>
                        <a class="page-link" th:href="@{|/mypage/points?page=${points.number + 1}|}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>