<div th:fragment="myPageOrdersFragment('myOrders', 'hasNext', 'currentPage')">
  <div class="p-5" th:if="${not #lists.isEmpty(myOrders)}">
    <h1 class="text-xl font-bold pb-4">주문/배송목록</h1>
    <div th:each="myOrder, myOrderStat : ${myOrders}">
      <div class="order">
        <div th:id="'orderId-' + ${myOrderStat.index}"
             th:myOrderIndex="${myOrderStat.index}">
          <br/>
          주문 번호 : <span th:text="${myOrder.orderStr}"></span><br>
          
          총 가격 : <span th:text="${myOrder.price}"></span><br>
          주소 : <span th:text="${myOrder.address}"></span><br>
          상세 주소 : <span th:text="${myOrder.addressDetail}"></span><br>
          우편 번호 : <span th:text="${myOrder.zipcode}"></span><br>
          희망 배송일 : <span th:text="${myOrder.desiredDeliveryDate}"></span><br>
          수신자 : <span th:text="${myOrder.receiver}"></span><br>
          수신자 연락처 : <span th:text="${myOrder.receiverContactNumber}"></span><br>
          발신자 : <span th:text="${myOrder.sender}"></span><br>
          발신자 연락처 : <span th:text="${myOrder.senderContactNumber}"></span><br>
          <div th:if="${not #strings.isEmpty(myOrder.orderEmail)}">
            이메일 : <span th:text="${myOrder.orderEmail}"></span><br>
          </div>
          운임비 : <span th:text="${myOrder.deliveryRate}"></span><br>
          
          <div th:if="${not #strings.isEmpty(myOrder.couponCode)}">
            쿠폰 코드 : <span th:text="${myOrder.couponCode}"></span><br>
          </div>

          주문 상태 : <span th:text="${myOrder.orderStatus}"></span><br>
          <div th:if="${not #strings.isEmpty(myOrder.deductedPoints)}">
            사용 포인트 : <span th:text="${myOrder.deductedPoints}"></span><br>
          </div>
          <div th:if="${not #strings.isEmpty(myOrder.earnedPoints)}">
            적립 포인트 : <span th:text="${myOrder.earnedPoints}"></span><br>
          </div>
          <div th:if="${not #strings.isEmpty(myOrder.deductedCouponPrice)}">
            사용된 쿠폰 금액 : <span th:text="${myOrder.deductedCouponPrice}"></span><br>
          </div>
          
          <!-- Toggle Button for Details -->
          <button type="button" class="toggle-details-btn"
                  th:id="'toggle-btn-' + ${myOrderStat.index}"
                  th:onclick="'toggleDetails(' +${myOrderStat.index} + ')'">
            🔽
          </button>
          
          <div class="orderDetail border border-solid border-[#eee]"
               th:id="'orderDetailId-' + 'orderId-'+ ${myOrderStat.index}" style="display: none;">
            <div th:if="${not #lists.isEmpty(myOrder.details)}">
              <div th:each="detail : ${myOrder.details}">
                상품 이름: <span th:text="${detail.orderDetailProductName}"></span><br>
                상품 가격 : <span id="cancelAmount" th:text="${detail.orderDetailPrice}"></span><br>
                상품 수량 : <span th:text="${detail.orderDetailQuantity}"></span><br>
                포장 여부 : <span th:text="${detail.orderDetailWrap}"></span><br>
                주문일 : <span th:text="${detail.orderDetailCreatedAt}"></span><br>
                주문 상태 : <span th:text="${detail.orderDetailOrderStatusName}"></span><br>
                <div th:if="${not #strings.isEmpty(detail.orderDetailWrappingPaper)}">
                  포장지 : <span th:text="${detail.orderDetailWrappingPaper}"></span><br>
                </div>
                주문 상태 변경 시각 : <span th:text="${detail.orderDetailUpdatedAt}"></span><br/>
                
                <button type="button"
                        class="btn btn-sm w-20-l bg-[#81c408] hover:bg-[#22a343] text-white"
                        th:if="${detail.orderDetailOrderStatusName != 'SHIPPING_OUT' and detail.orderDetailOrderStatusName != 'SHIPPED'
                                and detail.orderDetailOrderStatusName != 'PARTIAL_CANCELED'}"
                        th:myOrderDetailId="${detail.orderDetailId}"
                        th:currentPage="${currentPage}"
                        th:onclick="cancelOrderDetailLinkBeforeShipping(this.getAttribute('myOrderDetailId'), this.getAttribute('currentPage'))"
                        th:text="|배송 전 부분 결제 취소|">
                </button>
                
                <button type="button"
                        class="btn btn-sm w-20-l bg-[#81c408] hover:bg-[#22a343] text-white"
                        th:if="${detail.orderDetailOrderStatusName != 'SHIPPING_OUT' and detail.orderDetailOrderStatusName != 'SHIPPED'
                                and detail.orderDetailOrderStatusName != 'PARTIAL_CANCELED'}"
                        th:myOrderDetailId="${detail.orderDetailId}"
                        th:currentPage="${currentPage}"
                        th:onclick="refundOrderDetailLink(this.getAttribute('myOrderDetailId'), this.getAttribute('currentPage'))"
                        th:text="|부분 반품|">
                </button>
                
                <br/>
              
              </div>
            </div>
          </div>

        </div>
        <label for="cancelReason">취소 이유:</label>
        <input type="text" id="cancelReason" name="cancelReason">
        <br>
        <button type="button"
                class="btn btn-sm w-20-l bg-[#81c408] hover:bg-[#22a343] text-white"
                th:myOrder="${myOrder.orderStr}"
                th:currentPage="${currentPage}"
                th:onclick="cancelOrderLinkBeforeShipping(this.getAttribute('myOrder'), this.getAttribute('currentPage'))"
                th:text="|배송 전 결제 취소|">
        </button>
        
        <button type="button"
                class="btn btn-sm w-20-l bg-[#81c408] hover:bg-[#22a343] text-white"
                th:myOrder="${myOrder.orderStr}"
                th:currentPage="${currentPage}"
                th:onclick="refundOrderLink(this.getAttribute('myOrder'), this.getAttribute('currentPage'))"
                th:text="|반품|">
        </button>
        
        <button type="button"
                class="btn btn-sm w-20-l bg-[#81c408] hover:bg-[#22a343] text-white"
                th:myOrder="${myOrder.orderStr}"
                th:currentPage="${currentPage}"
                th:onclick="breakageRefundOrderLink(this.getAttribute('myOrder'), this.getAttribute('currentPage'))"
                th:text="|파손에 의한 반품|">
        </button>
        <br/>
        
        <button type="button" class="btn btn-sm w-20-l bg-[#81c408] hover:bg-[#22a343] text-white"
                th:onclick="|location.href='@{/mybilllogs(orderId=${myOrder.orderStr})}'|">결제 내역
        </button>
      
      </div>
      <div class="divider"></div>
    </div>
  </div>

  <input type="hidden" id="size" name="size" th:value="10"/>
  <a th:href="@{/orders(page=${currentPage-1}, size=10)}">이전</a>
  <label for="currentPage"></label>
  <input id="currentPage" name="currentPage" th:value="${currentPage}" readonly/>
  <a th:if="${#bools.isTrue(hasNext)}" th:href="@{/admin/orders(page=${currentPage + 1}, size=10)}">다음</a>
  
  <script th:inline="javascript">
      function cancelOrderLinkBeforeShipping(orderId, currentPage) {
          const cancelReasonInput = document.getElementById('cancelReason');
          const cancelReason = cancelReasonInput ? cancelReasonInput.value : '';
          const url = '/myorder/cancel?id=' + orderId +
              '&cancelReason=' + encodeURIComponent(cancelReason) +
              '&page=' + currentPage + '&size=10';

          fetch(url, {method: 'GET'})
              .then(data => {
                  if (data.ok) {
                      alert('Cancel successfully.');
                  } else if (data.status === 500) {
                      alert('배송 전 결제 완료 건에서만 취소 가능합니다.');
                  }
                  location.href = '/orders?page=' + currentPage + '&size=10';
              })
              .catch(error => {
                  alert('배송 전 결제 완료 건에서만 환불 가능합니다.');
              });
      }

      function refundOrderLink(orderId, currentPage) {
          const url = '/myorder/refund?id=' + orderId +
              '&orderStatus=REFUND' +
              '&page=' + currentPage + '&size=10';
          fetch(url, {method: 'GET'})
              .then(data => {
                  if (data.ok) {
                      alert('Refund successfully.');
                  } else if (data.status === 500) {
                      alert('배송 완료 건에서만 환불 가능합니다.');
                  }
                  location.href = '/orders?page=' + currentPage + '&size=10';
              })
              .catch(error => {
                  alert('배송 완료 건에서만 환불 가능합니다.');
              });
      }

      function breakageRefundOrderLink(orderId, currentPage) {
          const url = '/myorder/refund?id=' + orderId +
              '&orderStatus=BREAKAGE_REFUND' +
              '&page=' + currentPage + '&size=10';

          fetch(url, {method: 'GET'})
              .then(data => {
                  if (data.ok) {
                      alert('Refund successfully.');
                  } else if (data.status === 500) {
                      alert('배송 완료 건에서만 환불 가능합니다.');
                  }
                  location.href = '/orders?page=' + currentPage + '&size=10';
              })
              .catch(error => {
                  alert('배송 완료 건에서만 환불 가능합니다.');
              });
      }

      function cancelOrderDetailLinkBeforeShipping(orderDetailId, currentPage) {
          const cancelReasonInput = document.getElementById('cancelReason');
          const cancelReason = cancelReasonInput ? cancelReasonInput.value : '';
          const url = '/myorderdetail/cancel/toss?id=' + orderDetailId +
              '&cancelReason=' + encodeURIComponent(cancelReason) +
              '&page=' + currentPage + '&size=10';

          fetch(url, {method: 'GET'})
              .then(data => {
                  if (data.ok) {
                      alert('Order detail canceled successfully.');
                  } else if (data.status === 500) {
                      alert('배송 전 결제 완료 건에서만 취소 가능합니다.');
                  }
                  alert('Error: ' + error.message);
              });
      }

      function refundOrderDetailLink(orderDetailId, currentPage) {
          const cancelReasonInput = document.getElementById('cancelReason');
          const cancelReason = cancelReasonInput ? cancelReasonInput.value : '';
          const url = '/myorderdetail/refund?id=' + orderDetailId +
              '&page=' + currentPage + '&size=10';

          fetch(url, {method: 'GET'})
              .then(data => {
                  if (data.ok) {
                      alert('Order detail refund successfully.');
                  } else if (data.status === 500) {
                      alert('배송 전 결제 완료 건에서만 환불 가능합니다.');
                  }
              })
              .catch(error => {
                  alert('Error: ' + error.message);
              });
      }

      function toggleDetails(orderIdIndex) {
          const details = document.getElementById('orderDetailId-orderId-' + orderIdIndex);
          const toggleBtn = document.getElementById('toggle-btn-' + orderIdIndex);
          if (details.style.display === "none") {
              details.style.display = "block";
              toggleBtn.textContent = "▶️";
          } else {
              details.style.display = "none";
              toggleBtn.textContent = "🔽";
          }
      }
  
  </script>
</div>
