<div th:fragment="myPagePointsFragment('points')">
    <div class="container mt-5">
        <h3>포인트 내역</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>날짜</th>
                <th>설명</th>
                <th>변동 포인트</th>
                <th>잔액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pointLog : ${points.content}">
                <td th:text="${#temporals.format(pointLog.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                <td th:text="${pointLog.inquiry}">설명</td>
                <td th:text="${pointLog.delta}">변동 포인트</td>
                <td th:text="${pointLog.balance}">잔액</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!points.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/mypage/points?page=${points.number - 1}|}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Page <span th:text="${points.number + 1}"> 1 </span> of <span
                            th:text="${points.getTotalPages}"> 1 </span></a>
                </li>
                <li class="page-item" th:classappend="${!points.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/mypage/points?page=${points.number + 1}|}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
