<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>

</head>
<body>
<div th:fragment="productListFragment('products')">

<header>
  <h1>buzz-book</h1>
  <div class="search-bar">
    <input type="text" placeholder="검색어를 입력하세요">
    <button>검색</button>
  </div>
</header>
<nav>
  <ul>
    <li><a href="#">베스트도서</a></li>
    <li><a href="#">신간도서</a></li>
    <li><a href="#">국내도서</a></li>
    <li><a href="#">굿즈</a></li>
  </ul>
</nav>
<div class="product-list">
  <div th:each="product : ${products}" class="product">
    <div class="product-image">
      <img th:src="${product.thumbnailPath}" alt="Product Image"/>
    </div>
    <div class="product-details">
      <h3>
        <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.productName}">Product Title</a>
      </h3>

      <p class="product-price" th:text="${product.price}">Product Price</p>
    </div>
    <div class="product-actions">
      <button th:onclick="'location.href=\'/cart/add/' + ${product.id} + '\''">장바구니</button>
      <button th:onclick="'location.href=\'/product/' + ${product.id} + '\''">바로구매</button>
      <button>보관함</button>
    </div>
  </div>
</div>
<div class="pagination">
  <a th:href="@{/productList(page=${productPage.number - 1})}" th:if="${productPage.hasPrevious()}">이전</a>
  <span th:each="i : ${#numbers.sequence(1, productPage.totalPages)}">
    <a th:href="@{/productList(page=${i - 1})}" th:text="${i}" th:classappend="${i == productPage.number + 1} ? 'active'"></a>
  </span>
  <a th:href="@{/productList(page=${productPage.number + 1})}" th:if="${productPage.hasNext()}">다음</a>
</div>
</div>
</body>
</html>