<body
    th:fragment="productDetailPageFragment('product','book','categories','reviews', 'recommendProducts', 'couponPolicies')">

<div class="product-detail">
  <div class="product-image">
    <img th:src="${product.thumbnailPath}" alt="Product Image"/>
  </div>
  <div class="product-info" style="position: relative">
    <h2 th:text="${product.productName}">Product Title</h2>
    <p class="product-price" th:text="'판매가 ₩' + ${product.price}">판매가</p>
    
    <p>배송료: 유료 (도서 1만5천원 이상 무료)</p>
    <div class="product-quantity">
      <label for="quantity">수량:</label>
      <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
    </div>
    <div class="product-meta">
      <p>카테고리: <span th:text="${categories}">Category</span></p>
      <p>평점: <span th:text="${product.score}"></span></p>
      <p>재고 상태: <span th:text="${product.stockStatus}">Stock Status</span></p>
      <p>리뷰: <span th:text="'0'+'개'">리뷰 개수</span></p>
    </div>
    <div>
      <p>저자: <span th:text="${book.authors}">작가</span></p>
      <p>ISBN: <span th:text="${book.isbn}">ISBN123456789</span></p>
      <p>출판사: <span th:text="${book.publisher}">출판사</span></p>
    </div>
    <div class="product-actions" style="position: absolute; bottom: 3px">
      <button
          th:onclick="'location.href=\'/cart/add/' + ${product.id} + '?quantity=' + document.getElementById(\'quantity\').value + '\''">
        장바구니 담기
      </button>
      <button th:onclick="'location.href=\'/product/' + ${product.id} + '\''">바로구매</button>
      <button>선물하기</button>
      <button>보관함</button>
      <button id="couponButton">쿠폰 다운로드</button>
    </div>
  </div>
</div>

<div class="product-list-container">
  <h3>이런 책은 어떠세요?</h3>
  <div class="product-list" id="productList">
    <div class="product-item" th:each="prod : ${recommendProducts.content}">
      <img th:src="${prod.thumbnailPath}" th:alt="${prod.productName}"
           th:onclick="'location.href=\'/product/' + ${prod.id} + '\''"/>
      <p th:text="${prod.productName}">Product Name</p>
      <p th:text="'₩' + ${prod.price}">Product Price</p>
    </div>
  </div>
  <div class="scroll-button left" id="scrollLeft">&lt;</div>
  <div class="scroll-button right" id="scrollRight">&gt;</div>
</div>

<div id="couponModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>다운로드 가능한 쿠폰</h2>
    <ul>
      <li th:each="couponPolicy : ${couponPolicies}">
        <p>정책 이름: <span th:text="${couponPolicy.name}"></span></p>
        <p>
          할인 혜택:
          <span
              th:text="${'rate' == couponPolicy.discountType ? (couponPolicy.discountRate * 100) : couponPolicy.discountAmount}"></span>
          <span th:text="${'rate' == couponPolicy.discountType ? '%' : '원'}"></span>
        </p>
        <p>최대 할인 금액: <span th:text="${couponPolicy.maxDiscountAmount}"></span></p>
        <p>기준 금액: <span th:text="${couponPolicy.standardPrice}"></span></p>
        <p>쿠폰 사용 기간: <span th:text="${couponPolicy.period}"></span></p>
        <button class="download-button"
                th:onclick="'downloadCoupon(' + ${couponPolicy.id} + ')'">다운로드
        </button>
      </li>
    </ul>
  </div>
</div>

<div>
  <h3>댓글</h3>
  <div class="reviewList" id="reviewList">
    <div class="review" th:each="review : ${reviews}" style="margin-top: 10px">
      <!--            <img th:src="${#strings.defaultIfEmpty(review.thumbnailPath)}" alt=""/>-->
      <p>작성자: <span th:text="${review.userName}">악플빌런</span></p>
      <p>내용: <span th:text="${review.content}">악플</span></p>
      <p>평점: <span th:text="${review.reviewScore}">-1</span></p>
      <p>작성시간: <span th:text="${review.reviewCreatedAt}">0000-00-00T00:00:00</span></p>
    </div>
  </div>
</div>

<script>
    // 모달 열기
    const modal = document.getElementById("couponModal");
    const btn = document.getElementById("couponButton");
    const span = document.getElementsByClassName("close")[0];

    if (btn) {
        btn.addEventListener('click', function () {
            modal.style.display = "block";
        });
    }

    // 모달 닫기
    if (span) {
        span.addEventListener('click', function () {
            modal.style.display = "none";
        });
    }

    // 모달 외부 클릭 시 닫기
    window.addEventListener('click', function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });

    // 모달 외부 클릭 시 닫기
    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    // 쿠폰 다운로드 함수
    function downloadCoupon(couponPolicyId) {
        console.log("클릭됨, 쿠폰 ID:", couponPolicyId);
        fetch('/coupons/download-coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                couponPolicyId: couponPolicyId
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 200) {
                    alert('쿠폰이 다운로드 되었습니다.');
                } else if (data.status === 401) {
                    alert('비회원은 쿠폰을 다운로드 할 수 없습니다.');
                } else {
                    alert('이미 다운로드한 쿠폰입니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('쿠폰 다운로드 중 오류가 발생했습니다.');
            });
    }

    // 가로 스크롤 함수
    const productList = document.getElementById("productList");
    const scrollLeft = document.getElementById("scrollLeft");
    const scrollRight = document.getElementById("scrollRight");

    if (scrollLeft) {
        scrollLeft.onclick = function () {
            productList.scrollBy({left: -300, behavior: 'smooth'});
        }
    }

    if (scrollRight) {
        scrollRight.onclick = function () {
            productList.scrollBy({left: 300, behavior: 'smooth'});
        }
    }
</script>
</body>

