<body
    th:fragment="productDetailPageFragment('product','book','categoryInfo','reviews', 'recommendProducts', 'couponPolicies')">

<div class="product-detail flex flex-col gap-4">
  <div class="breadcrumbs text-sm ml-2">
    <ul>
      <li th:each="category: ${categoryInfo.parentCategory.entrySet()}"><a th:text="${category.value}">Home</a></li>
      <li><a th:text="${categoryInfo.name}"></a></li>
    </ul>
  </div>
  <div class="flex justify-between gap-8">
    <div class="product-image w-[500px] shadow-lg">
      <img th:src="${product.thumbnailPath}" alt="Product Image" class="w-[500px] "/>
    </div>
    <div class="w-full px-2 flex flex-col gap-2">
      <h1 class="text-2xl pb-2" th:text="${product.productName}">Product Title</h1>
      <div class="flex gap-2">
        <div class="flex gap-2" th:each="author, iterStat : ${book.authors}">
          <p th:text="${author}"></p>
          <p th:if="${!iterStat.last}">|</p>
        </div>
      </div>
      <div class="flex align-center items-end gap-2">
        <div id="book-star-point"></div>
        <p th:text="${product.score}" id="productScore">평점</p>
        <p class="text-sm"><span>회원리뷰 (</span><span th:text="${reviews.size()}"></span><span>건)</span></p>
    
      </div>
      <div class="flex gap-2">
        <div class="w-[60px]">ISBN</div>
        <p th:text="${book.isbn}"></p>
      </div>
      <div class="flex gap-2">
        <div class="w-[60px]">출판사</div>
        <p th:text="${book.publisher}"></p>
      </div>
      <hr />
      <div class="flex gap-2">
        <div class="w-[60px]">판매가</div>
        <p class="product-price" th:text="${product.price}"></p>
      </div>
      <!-- todo 정책 연결하기 -->
      
      <div class="flex gap-2">
        <div class="w-[60px]">배송료</div>
        <p>유료 (도서 2만원 이상 구매 시 무료)</p>
      </div>
      
      <div class="flex gap-2">
        <div class="w-[60px]">재고상태</div>
        <p class="product-price" th:text="${product.stockStatus}"></p>
      </div>
    </div>
  </div>
  
  <div class="divider"></div>
  
  <div id="viewer" th:text="${product.description}"></div>
  
  <div class="divider"></div>
  
  
  <div class="btm-nav">
    <button
        th:onclick="'location.href=\'/cart/add/' + ${product.id} + '?quantity=' + document.getElementById(\'quantity\').value + '\''">
      장바구니 담기
    </button>
    <button th:onclick="'location.href=\'/product/' + ${product.id} + '\''">바로구매</button>
    <button>선물하기</button>
    <button>보관함</button>
    <button id="couponButton">쿠폰 다운로드</button>
  </div>

</div>


<!-- 캐러셀 시작  -->
<div class="border-solid border-black">
  <h3 class="text-xl font-semibold mb-4">이런 책은 어떠세요?</h3>
  <div class="relative">
    <div class="flex overflow-x-hidden hide-scroll-bar space-x-4" id="productList">
      <!-- 제품 항목 시작 -->
      <div class="flex-none w-48 p-2 bg-white border border-gray-200 rounded-lg shadow-md"
           th:each="prod : ${recommendProducts.content}">
        <img class="w-full h-48 object-cover rounded-lg" th:src="${prod.thumbnailPath}" th:alt="${prod.productName}"
             th:onclick="'location.href=\'/product/' + ${prod.id} + '\''"/>
        <p class="mt-2 text-lg font-medium text-gray-900" th:text="${prod.productName}">Product Name</p>
        <p class="text-gray-700" th:text="'₩' + ${prod.price}">Product Price</p>
      </div>
      <!-- 제품 항목 끝 -->
    </div>
    <div
        class="absolute top-1/2 transform -translate-y-1/2 left-0 bg-gray-700 bg-opacity-50 text-white p-2 rounded-full cursor-pointer"
        id="scrollLeft">&lt;
    </div>
    <div
        class="absolute top-1/2 transform -translate-y-1/2 right-0 bg-gray-700 bg-opacity-50 text-white p-2 rounded-full cursor-pointer"
        id="scrollRight">&gt;
    </div>
  </div>
</div>
<!-- 캐러셀 끝 -->


<div id="couponModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>다운로드 가능한 쿠폰</h2>
    <ul>
      <li th:each="couponPolicy : ${couponPolicies}">
        <p>정책 이름: <span th:text="${couponPolicy.name}"></span></p>
        <p>
          할인 혜택:
          <span
              th:text="${'rate' == couponPolicy.discountType ? (couponPolicy.discountRate * 100) : couponPolicy.discountAmount}"></span>
          <span th:text="${'rate' == couponPolicy.discountType ? '%' : '원'}"></span>
        </p>
        <p>최대 할인 금액: <span th:text="${couponPolicy.maxDiscountAmount}"></span></p>
        <p>기준 금액: <span th:text="${couponPolicy.standardPrice}"></span></p>
        <p>쿠폰 사용 기간: <span th:text="${couponPolicy.period}"></span></p>
        <button class="download-button"
                th:onclick="'downloadCoupon(' + ${couponPolicy.id} + ')'">다운로드
        </button>
      </li>
    </ul>
  </div>
</div>

<div>
  <h3>댓글</h3>
  <div class="reviewList" id="reviewList">
    <div class="review" th:each="review : ${reviews}" style="margin-top: 10px">
      <img th:src="${review.picturePath}" style="width: 100px; height: 100px;" alt="리뷰이미지" onerror="this.src='/static/buzz_bee_icon/android-chrome-192x192.png';this.style.width='100px'; this.style.height='100px';"/>
      <p>작성자: <span th:text="${review.userName}">악플빌런등장</span></p>
      <p>내용: <span th:text="${review.content}">문제가 생기면 보이는 악플</span></p>
      <p>평점: <span th:text="${review.reviewScore}">-1</span></p>
      <p>작성시간: <span th:text="${review.reviewCreatedAt}">0000-00-00T00:00:00</span></p>
    </div>
  </div>
</div>

<script>
    // 모달 열기
    // import {printStar} from "../../../static/js/main";

    const modal = document.getElementById("couponModal");
    const btn = document.getElementById("couponButton");
    const span = document.getElementsByClassName("close")[0];

    if (btn) {
        btn.addEventListener('click', function () {
            modal.style.display = "block";
        });
    }

    // 모달 닫기
    if (span) {
        span.addEventListener('click', function () {
            modal.style.display = "none";
        });
    }

    // 모달 외부 클릭 시 닫기
    window.addEventListener('click', function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });

    // 모달 외부 클릭 시 닫기
    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    // 쿠폰 다운로드 함수
    function downloadCoupon(couponPolicyId) {
        console.log("클릭됨, 쿠폰 ID:", couponPolicyId);
        fetch('/coupons/download-coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                couponPolicyId: couponPolicyId
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 200) {
                    alert('쿠폰이 다운로드 되었습니다.');
                } else if (data.status === 401) {
                    alert('비회원은 쿠폰을 다운로드 할 수 없습니다.');
                } else {
                    alert('이미 다운로드한 쿠폰입니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('쿠폰 다운로드 중 오류가 발생했습니다.');
            });
    }

    <!-- 캐러셀 스크립트 -->

    const productList = document.getElementById('productList');
    const scrollLeft = document.getElementById('scrollLeft');
    const scrollRight = document.getElementById('scrollRight');

    scrollLeft.addEventListener('click', () => {
        productList.scrollBy({
            left: -300,
            behavior: 'smooth'
        });
    });

    scrollRight.addEventListener('click', () => {
        productList.scrollBy({
            left: 300,
            behavior: 'smooth'
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        // 평점에 따른 별 개수 채우기
        const scoreElement = document.getElementById('book-star-point');
        const score = Number(document.getElementById('productScore').innerText);
        scoreElement.innerHTML = printStar(score, true);
    });

    document.addEventListener("DOMContentLoaded", () => {
        const viewerElement = document.querySelector('#viewer');
        const htmlContent = viewerElement.innerText.trim();

        const viewer = new toastui.Editor.factory({
            el: viewerElement,
            initialValue: htmlContent,
            viewer: true
        });
    });

</script>
</body>

