<body th:fragment="productListFragment('products','productPage','query','productType')">
<div>
  
  <div class="my-4">
    <div class="col-md-4">
      <div class="join">
        <div>
          <label class="input input-bordered join-item flex items-center gap-2">
            <input th:value="${query}" id="searchQuery" name="query" type="text" class="grow" placeholder="검색"/>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="h-4 w-4 opacity-70">
              <path
                  fill-rule="evenodd"
                  d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                  clip-rule="evenodd"/>
            </svg>
          </label>
        </div>
        <select id="productTypeSelect" class="select select-bordered join-item">
                    <option>전체</option>
                    <option>도서상품</option>
                    <option>비도서상품</option>
                    <option th:each="type : ${stockStatusOptions}" th:selected="${type == productType}"
                            th:text="${type}"
                            th:value="${type}"></option>

                </select>
                <select class="select select-bordered join-item" id="productOrderBySelect" onchange="filterByOrderBy()">
                    <option value="">선택 없음</option>
                    <option th:each="select : ${orderByList}" th:selected="${select == orderBy}" th:text="${select}"
                            th:value="${select}"></option>
                </select>
                <select class="select select-bordered join-item" id="categorySelect" onchange="selectProductCategory()">
                    <option value=null>선택 없음</option>
                    <option th:each="select: ${subCategoryList}" th:text="${select.name}"
                            th:value="${select.id}"></option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <form id="searchForm" action="/product" method="get">
      </form>
    </div>
  
  </div>

  <div class="flex flex-col gap-4">
    <div th:each="product : ${productPage.content}">
      <div class="divider"></div>
      <div class="flex flex-row">
        <div style="width: 140px;">
          <img th:src="${product.thumbnailPath}" alt="Product Image" style="width: 140px;"/>
        </div>
        <div class="px-4 py-2 w-full flex flex-col justify-between">
          <h5 class="text-xl mb-2">
            <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.productName}">Product Title</a>
          </h5>
          <p class="" th:text="${product.description}">상품설명</p>

          <!-- 태그 표시 부분 추가 -->
          <div>
            <p class="" th:text="${product.price}">Product Price</p>
            <div class="ml-[-8px]">
              <div th:each="tag : ${productTagsMap[product.id]}" th:text="${tag}" class="badge badge-accent"></div>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-4 w-[130px]">
          <button class="btn btn-active" th:onclick="'addToCart(' + ${product.id} + ')'">장바구니</button>
          <button class="btn btn-success"
                  th:if="${product.stock > 0}"
                  th:onclick="'location.href=\'/product/' + ${product.id} + '\''">바로구매</button>
          <button class="btn btn-disabled"
                  th:unless="${product.stock > 0}"
                  disabled>재고없음</button>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <!-- todo 다음페이지 버튼 동작 모르겠음  -->
  <div class="flex justify-center">
    <div class="flex justify-center">
        <div class="join">
            <a aria-label="Previous"
               class="join-item btn" th:classappend="${productPage.first} ? 'disabled'"
               th:onclick="goToPrevPage(${productPage.number - 1})">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <a class="join-item btn" th:classappend="${I == productPage.number} ? 'active'"
               th:each="I : ${#numbers.sequence(1, productPage.totalPages)}"
               th:onclick="'selectPage(' + ${I} + ')'" th:text="${I}">
            </a>
            <a aria-label="Next"
               class="join-item btn" th:classappend="${!productPage.last} ? 'disabled'"
               th:onclick="goToNextPage(${productPage.number + 1})">
                <span aria-hidden="true">&raquo;</span>
            </a>

        </div>
    </div>
</div>

<script>
    function clearFilters() {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.delete('query');
        window.location.search = urlParams.toString();
    }

    function goToPrevPage(pageNumber) {
        const url = new URL(window.location.href);
        url.searchParams.set('page', pageNumber - 1);
        window.location.href = url.toString();
    }


    function selectPage(pageNumber) {
        const url = new URL(window.location.href);
        url.searchParams.set('page', pageNumber);
        window.location.href = url.toString();
    }

    function goToNextPage(pageNumber) {
        const url = new URL(window.location.href);
        url.searchParams.set('page', pageNumber + 1);
        window.location.href = url.toString();
    }


    function filterByOrderBy() {
        const selectElement = document.getElementById("productOrderBySelect");
        const selectValue = selectElement.options[selectElement.selectedIndex].value;
        const url = new URL(window.location.href);
        url.searchParams.set('orderBy', selectValue);
        url.searchParams.set('page', '1');
        window.location.href = url.toString();
    }

    function selectProductCategory() {
        const selectValue = document.getElementById("categorySelect").value;
        const url = new URL(window.location.href);
        url.searchParams.set('categoryId', selectValue);
        url.searchParams.set('page', '1');
        window.location.href = url.toString();
    }

    function addToCart(productId) {
        // Create request payload
        const data = {
            productId: productId,
            quantity: 1
        };

        // Send POST request
        fetch('/cart/detail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    alert('장바구니에 추가되었습니다.');
                } else {
                    alert('장바구니 추가 실패.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('장바구니 추가 중 오류가 발생했습니다.');
            });
    }
</script>

</body>
