<body th:fragment="adminBillLogFragment ('adminBillLogs')">

<div class="py-5"></div>
<br/>
<div th:if="${not #lists.isEmpty(adminBillLogs)}">
    <div th:each="adminBillLog : ${adminBillLogs}">
        <div class="order" id="order">
            <div>
                결제 방법 : <span th:text="${adminBillLog.payment}"></span><br>
                결제액 : <span th:text="${adminBillLog.price}"></span><br>
                결제 일시 : <span th:text="${adminBillLog.payAt}"></span><br>
                결제 상태 : <span th:text="${adminBillLog.status}"></span><br>
                결제 번호 : <span th:text="${adminBillLog.paymentKey}"></span><br>

                <div th:if="${adminBillLog.cancelReason != null}">
                    취소 이유 : <span th:text="${adminBillLog.cancelReason}"></span><br>
                </div>

            </div>

            <hr>
        </div>
    </div>
</div>
</body>
