<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>쿠폰 관리</title>
</head>
<body>
<div th:fragment="couponManagePageFragment('couponPolicies', 'couponTypes')" class="container">
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <a href="/admin/coupons/policies" class="btn btn-primary">쿠폰 정책 생성</a>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
            <h3 class="mb-0">쿠폰 정책 목록</h3>
            <form class="form-inline d-flex" method="GET" action="/admin/coupons">
                <div class="form-group mx-2">
                    <label for="filterDiscountType" class="mr-2">할인 타입</label>
                    <select class="form-control" id="filterDiscountType" name="discountTypeName">
                        <option value="ALL">전체</option>
                        <option value="RATE" th:selected="${discountType == 'RATE'}">할인율</option>
                        <option value="AMOUNT" th:selected="${discountType == 'AMOUNT'}">할인 금액</option>
                    </select>
                </div>
                <div class="form-group mx-2">
                    <label for="filterIsDeleted" class="mr-2">삭제 여부</label>
                    <select class="form-control" id="filterIsDeleted" name="isDeleted">
                        <option value="ALL">전체</option>
                        <option value="true" th:selected="${isDeleted == 'true'}">종료</option>
                        <option value="false" th:selected="${isDeleted == 'false'}">활성</option>
                    </select>
                </div>
                <div class="form-group mx-2">
                    <label for="filterCouponType" class="mr-2">쿠폰 타입</label>
                    <select class="form-control" id="filterCouponType" name="couponTypeName">
                        <option value="ALL">전체</option>
                        <option th:each="type : ${couponTypes}" th:value="${type.name}" th:text="${type.name}"
                                th:selected="${couponType == type}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mx-2">검색</button>
            </form>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>정책 이름</th>
                <th>할인율 / 할인 금액</th>
                <th>최대 할인 금액</th>
                <th>기준 금액</th>
                <th>쿠폰 사용 기간</th>
                <th>쿠폰 다운로드 시작일</th>
                <th>쿠폰 다운로드 종료일</th>
                <th>쿠폰 삭제 여부</th>
                <th>쿠폰 타입</th>
                <th>삭제 하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="couponPolicy : ${couponPolicies.content}">
                <span th:text="${couponPolicy.discountType}" style="visibility: hidden"></span>
                <td th:text="${couponPolicy.id}"></td>
                <td th:text="${couponPolicy.name}"></td>
                <td>
                    <span th:text="${'rate' == couponPolicy.discountType ? (couponPolicy.discountRate * 100) : couponPolicy.discountAmount}"></span>
                    <span th:text="${'rate' == couponPolicy.discountType ? '%' : '원'}"></span>
                </td>
                <td th:text="${couponPolicy.maxDiscountAmount}"></td>
                <td th:text="${couponPolicy.standardPrice}"></td>
                <td th:text="${couponPolicy.period}"></td>
                <td th:text="${couponPolicy.startDate}"></td>
                <td th:text="${couponPolicy.endDate}"></td>
                <td th:text="${couponPolicy.isDeleted ? '종료' : '활성'}"></td>
                <td th:text="${couponPolicy.couponTypeResponse.name}"></td>
                <td>
                    <form th:action="@{/admin/coupons/policies/delete}" method="get"
                          onsubmit="return confirm('정말 삭제하시겠습니까?');">
                        <input type="hidden" name="couponPolicyId" th:value="${couponPolicy.id}"/>
                        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!couponPolicies.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/admin/coupons?page=${couponPolicies.number - 1}|}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Page <span th:text="${couponPolicies.number + 1}"> 1 </span> of <span
                            th:text="${couponPolicies.getTotalPages}"> 1 </span></a>
                </li>
                <li class="page-item" th:classappend="${!couponPolicies.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/admin/coupons?page=${couponPolicies.number + 1}|}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
</body>
</html>
