<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>쿠폰 관리</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="couponManagePageFragment('couponPolicies')" class="container">
    <div class="mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <a href="/admin/coupons/policies" class="btn btn-primary">쿠폰 정책 생성</a>
        </div>

        <h3>쿠폰 정책 목록</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>정책 이름</th>
                <th>할인 타입</th>
                <th>할인율</th>
                <th>할인 금액</th>
                <th>최대 할인 금액</th>
                <th>기준 금액</th>
                <th>쿠폰 사용 기간</th>
                <th>쿠폰 다운로드 시작일</th>
                <th>쿠폰 다운로드 종료일</th>
                <th>쿠폰 삭제 여부</th>
                <th>쿠폰 타입</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="couponPolicy : ${couponPolicies.content}">
                <td th:text="${couponPolicy.id}">ID</td>
                <td th:text="${couponPolicy.name}">정책 이름</td>
                <td th:text="${couponPolicy.discountType}">할인 타입</td>
                <td th:text="${couponPolicy.discountRate}">할인율</td>
                <td th:text="${couponPolicy.discountAmount}">할인 금액</td>
                <td th:text="${couponPolicy.standardPrice}">기준 금액</td>
                <td th:text="${couponPolicy.maxDiscountAmount}">최대 할인 금액</td>
                <td th:text="${couponPolicy.period}">쿠폰 사용 기간</td>
                <td th:text="${couponPolicy.startDate}">쿠폰 다운로드 시작일</td>
                <td th:text="${couponPolicy.endDate}">쿠폰 다운로드 종료일</td>
                <td th:text="${couponPolicy.isDeleted ? '종료' : '활성'}">다운로드 종료 여부</td>
                <td th:text="${couponPolicy.couponTypeResponse.name}">쿠폰 타입</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!couponPolicies.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/admin/coupons?page=${couponPolicies.number - 1}|}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Page <span th:text="${couponPolicies.number + 1}"> 1 </span> of <span
                            th:text="${couponPolicies.getTotalPages}"> 1 </span></a>
                </li>
                <li class="page-item" th:classappend="${!couponPolicies.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/admin/coupons?page=${couponPolicies.number + 1}|}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
