<body th:fragment="adminOrderHistoryPageFragment ('myOrders', 'hasNext', 'currentPage')">

<div th:if="${not #lists.isEmpty(myOrders)}">
    <div th:each="myOrder : ${myOrders}">
        <div class="order">

            <div th:id="'orderId-' + ${myOrderStat.index}"
                 th:myOrderIndex="${myOrderStat.index}"
                 th:onclick="toggleDetails(this.getAttribute('myOrderIndex'))">
                <br/>
                주문 번호 : <span th:text="${myOrder.orderStr}"></span><br>

                주문자 아이디 : <span th:text="${myOrder.loginId}"></span><br>
                총 가격 : <span th:text="${myOrder.price}"></span><br>
                주소 : <span th:text="${myOrder.address}"></span><br>
                상세 주소 : <span th:text="${myOrder.addressDetail}"></span><br>
                우편 번호 : <span th:text="${myOrder.zipcode}"></span><br>
                희망 배송일 : <span th:text="${myOrder.desiredDeliveryDate}"></span><br>
                수신자 : <span th:text="${myOrder.receiver}"></span><br>
                수신자 연락처 : <span th:text="${myOrder.receiverContactNumber}"></span><br>
                발신자 : <span th:text="${myOrder.sender}"></span><br>
                발신자 연락처 : <span th:text="${myOrder.senderContactNumber}"></span><br>
                <div th:if="${not #strings.isEmpty(myOrder.orderEmail)}">
                    이메일 : <span th:text="${myOrder.orderEmail}"></span><br>
                </div>
                운임비 : <span th:text="${myOrder.deliveryRate}"></span><br>
                <div th:if="${not #strings.isEmpty(myOrder.couponCode)}">
                    쿠폰 코드 : <span th:text="${myOrder.couponCode}"></span><br>
                </div>
                주문 상태 : <span th:text="${myOrder.orderStatus}"></span><br>
                <div th:if="${not #strings.isEmpty(myOrder.deductedPoints)}">
                사용 포인트 : <span th:text="${myOrder.deductedPoints}"></span><br>
                </div>
                <div th:if="${not #strings.isEmpty(myOrder.earnedPoints)}">
                적립 포인트 : <span th:text="${myOrder.earnedPoints}"></span><br>
                </div>
                <div th:if="${not #strings.isEmpty(myOrder.deductedCouponPrice)}">
                사용된 쿠폰 금액 : <span th:text="${myOrder.deductedCouponPrice}"></span><br>
                </div>

                <div class="orderDetail" th:id="'orderDetailId-' + 'orderId-'+ ${myOrderStat.index}"
                     style="display: none;">
                    <div th:if="${not #lists.isEmpty(myOrder.details)}">
                        <div th:each="detail : ${myOrder.details}">
                            상품 이름: <span th:text="${detail.orderDetailProductName}"></span><br>
                            상품 가격 : <span th:text="${detail.orderDetailPrice}"></span><br>
                            상품 수량 : <span th:text="${detail.orderDetailQuantity}"></span><br>
                            포장 여부 : <span th:text="${detail.orderDetailWrap}"></span><br>
                            주문일 : <span th:text="${detail.orderDetailCreatedAt}"></span><br>
                            주문 상태 : <span th:text="${detail.orderDetailOrderStatusName}"></span><br>
                            <div th:if="${not #strings.isEmpty(detail.orderDetailWrappingPaper)}">
                                포장지 : <span th:text="${detail.orderDetailWrappingPaper}"></span><br>
                            </div>
                            주문 상태 변경 시각 : <span th:text="${detail.orderDetailUpdatedAt}"></span><br/>

                            <button th:onclick="'location.href=\'/admin/orders/detail/' + ${detail.orderDetailId} + '?status=SHIPPING_OUT&page=' + (${currentPage}-1) + '&size=10\''">
                                주문 상세 배송중
                            </button>
                            <br/>
                            <button th:onclick="'location.href=\'/admin/orders/detail/' + ${detail.orderDetailId} + '?status=SHIPPED&page=' + (${currentPage}-1) + '&size=10\''">
                                주문 상세 배송완료
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn"
                   th:href="@{'/admin/orders/' + ${myOrder.orderStr} + '?status=SHIPPING_OUT&page=' + (${currentPage}-1) + '&size=10'}">
                    주문 배송중
                </a>
                <br/>
            </div>
            <br/>
            <button type="button" th:onclick="|location.href='@{/admin/orders/billlog(orderId=${myOrder.orderStr})}'|">
                결제 내역
            </button>

            <hr>
        </div>
    </div>
</div>

<input type="hidden" id="size" name="size" th:value="10"/>
<a th:href="@{/admin/orders(page=${currentPage-1}, size=10)}">이전</a>

<label for="currentPage"></label>
<input id="currentPage" name="currentPage" th:value="${currentPage}" readonly/>

<a th:if="${#bools.isTrue(hasNext)}" th:href="@{/admin/orders(page=${currentPage + 1}, size=10)}">다음</a>

<script>
    function toggleDetails(orderIdIndex) {
        console.log(orderIdIndex)
        const details = document.getElementById('orderDetailId-orderId-' + orderIdIndex);
        if (details.style.display === "none") {
            details.style.display = "block";
        } else {
            details.style.display = "none";
        }
    }
</script>
</body>
