<body th:fragment="productManageApiBookFragment">
<div class="container mt-5">
    <h1>API Book Search</h1>
    <div class="row mb-3">
        <div class="col-md-10">
            <input type="text" id="searchQuery" class="form-control" placeholder="Enter search term" value="${param.query}">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" onclick="handleSearch()">조회</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Publish Date</th>
            <th>Cover</th>
            <th>Customer Review Rank</th>
            <th>Category Name</th>
            <th>Price Standard</th>
            <th>Price Sales</th>
            <th>Stock</th>
            <th>Product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.pubDate}"></td>
            <td>
                <img th:src="${book.cover}" alt="Thumbnail" width="50">
            </td>
            <td th:text="${book.customerReviewRank}"></td>
            <td th:text="${book.categoryName}"></td>
            <td th:text="${book.priceStandard}"></td>
            <td th:text="${book.priceSales}"></td>
            <td th:text="${book.stock}"></td>
            <td th:text="${book.product}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function handleSearch() {
        const query = document.getElementById('searchQuery').value;
        const url = `/api/books/search?query=${query}`;
        window.location.href = url;
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>