<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .wide-column {
            width: 150px;
        }
        .medium-column {
            width: 120px;
        }
        .narrow-column {
            width: 100px;
        }
        .narrow-column:nth-child(2){
            width: 600px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Product List</h1>
    <div class="row mb-3">
        <div class="col-md-4">
            <select class="form-select">
                <option selected>---선택---</option>
            </select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="상품 정보를 입력해주세요">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">검색</button>
            <button class="btn btn-secondary">취소</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="narrow-column">ID</th>
            <th class="narrow-column">제목</th>
            <th class="narrow-column">재고</th>
            <th class="narrow-column">가격</th>
            <th class="narrow-column">출판일</th>
            <th class="narrow-column">평가</th>
            <th class="narrow-column">카테고리ID</th>
            <th class="wide-column">재고상태</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.forwardDate}"></td>
            <td th:text="${product.score}"></td>
            <td th:text="${product.categoryId}"></td>
            <td th:text="${product.stockStatus}"></td>
            <td>
                <a class="btn btn-warning btn-sm" th:href="@{/admin/product/edit/{id}(id=${product.id})}">수정</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>