<body th:fragment="productManageApiBookFragment('books','query')">
<div class="container mt-5">
    <h1>API Book Search</h1>
    <div class="row mb-3">
        <div class="col-md-10">
            <input type="text" id="searchQuery" class="form-control" placeholder="키워드를 입력해주세요">
        </div>
        <div class="col-md-2 text-end">
            <button class="btn btn-primary me-2" onclick="handleSearch()">조회</button>
            <button class="btn btn-success" id="addButton" onclick="addApiBook()">추가</button>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>상품명</th>
            <th>ISBN</th>
            <th>저자</th>
            <th>출판사</th>
            <th>출판일</th>
            <th>표지</th>
            <th>평점</th>
            <th>카테고리</th>
            <th>정가</th>
        </tr>
        </thead>
        <tbody id="productList">
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.pubDate}"></td>
            <td>
                <img th:src="${book.cover}" alt="Thumbnail" width="50">
            </td>
            <td th:text="${book.customerReviewRank}"></td>
            <td th:text="${book.categoryName}"></td>
            <td th:text="${book.priceStandard}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function handleSearch() {
        const query = document.getElementById('searchQuery').value;
        const url = `/api/books/search?query=${query}`;
        window.location.href = url;
    }

    function addApiBook() {
        const query = document.getElementById('searchQuery').value;
        const url = `/api/books/search?query=${query}`;
        fetch(url, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                alert('도서정보 추가 완료!');
                window.location.href = '/admin/product';
            } else {
                alert('도서정보 추가 실패...');
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>