<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>포장지 관리</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="wrappingManagePageFragment('wrappings')" class="container">
    <div class="mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <a href="/admin/orders/wrappings/register" class="btn btn-primary">포장지 생성</a>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
            <h3 class="mb-0">포장지 목록</h3>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>포장지</th>
                <th>가격</th>
                <th>삭제 하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wrapping : ${wrappings}">
                <td th:text="${wrapping.id}"></td>
                <td th:text="${wrapping.paper}"></td>
                <td th:text="${wrapping.price}"></td>
                <td>
                    <form th:action="@{/admin/orders/wrappings/delete}" method="get"
                          onsubmit="return confirm('정말 삭제하시겠습니까?');">
                        <input type="hidden" name="wrappingId" th:value="${wrapping.id}"/>
                        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
