<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>포장지 생성</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body th:fragment="createWrappingFragment">
<div class="container mt-5">
    <h3>운임비 정책 생성</h3>
    <form th:action="@{/admin/orders/policies}" method="post" class="needs-validation">
        <div class="form-group">
            <label for="name">정책 이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="정책 이름을 입력하세요" required>
            <div class="invalid-feedback">
                정책 이름을 입력하세요.
            </div>
        </div>
        <div class="form-group">
            <label for="standardPrice">기준 금액</label>
            <input type="number" class="form-control" id="standardPrice" name="standardPrice"
                   placeholder="기준 금액을 입력하세요" required>
            <div class="invalid-feedback">
                기준 금액을 입력하세요.
            </div>
        </div>
        <div class="form-group">
            <label for="policyPrice">기준 금액</label>
            <input type="number" class="form-control" id="policyPrice" name="policyPrice"
                   placeholder="운임비를 입력하세요" required>
            <div class="invalid-feedback">
                기준 금액을 입력하세요.
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">생성</button>
        <a href="/admin/orders" class="btn btn-secondary">취소</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
