<div th:fragment="faqPageFragment">
  <div class="flex p-4 gap-6">
    <div class="flex flex-col gap-4">
      <div>
        <p class="text-xl">무엇을</p>
        <p class="text-xl">도와드릴까요?</p>
      </div>
      <div>
        <p class="text-sm">Buzz Book 서비스에</p>
        <p class="text-sm">대해 궁금하신 점이 있으신가요?</p>
        <p class="text-sm">질문과 답을 통해서 해결해드리겠습니다.</p>
      </div>
      <div>
        <div class="flex items-end gap-2">
          <img src="/static/buzz_bee_icon/apple-touch-icon.png" alt="logo" class="w-[40px] align-bottom"/>
          <p>고객센터 대표 번호</p>
        </div>
        <p>1234 - 5678</p>
        <p>상담시간 : 평일 오전 9시 ~ 오후 6시</p>
      </div>
    </div>
    <div class="flex flex-col">
      <div>1234</div>
      <div>
        <p>자주하는 질문</p>
        <div class="flex gap-2">
          <ol>
            <li><a>배송일이 지났는데 배송이 안와요.</a></li>
            <li>집에 가고 싶어요.</li>
            <li>책이 파손됐어요.</li>
            <li>리뷰 작성 시 포인트는 언제 받을 수 있나요?</li>
            <li>총알배송 서비스가 있나요?</li>
          </ol>
          <ol>
            <li>작성한 댓글이 사라졌어요.</li>
            <li>배송지를 잘못 입력했어요.</li>
            <li>책 보다 잠들었어요.</li>
            <li>아주 멋있는 라면 받침대가 필요해요.</li>
            <li>책을 읽다가 재미없어서 반품하고 싶어요.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>